<div style="margin-left: 10px; margin-right: 10px; margin-top: 60px">
  <div class="container mt-4 ml-0">
    <h1 class="margin-base-vertical">
      <img ngSrc="assets/img/logo_small_120x120.png" width="40" height="40" style="vertical-align: top" />
      Oops, {{ 'ERROR.ERROR' | translate }} 404:
    </h1>
    <br />
    <h3>{{ 'ERROR.PAGE_NOT_FOUND' | translate }}</h3>
    <br />
  </div>
</div>

<!--
<div class="container mt-4 ml-0">

  {% if traceback %}
  <div class="card">
    <div class="card-header"><strong>Traceback</strong></div>
    <div class="card-body text-shng">
      {{ traceback }}
    </div>
  </div>
  {% endif %}
</div>
-->
