
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-hea r">
    <a routerLink="/system" class="navbar-brand"><img src="assets/img/logo_long.png" alt="SmartHomeNG"></a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active"><a class="nav-link" routerLink="/system">{{ 'MENU.SYSTEM'|translate }}</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="/services">{{ 'MENU.SERVICES'|translate }}</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="/items">{{ 'MENU.ITEMS'|translate }}</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="/logics">{{ 'MENU.LOGICS'|translate }}</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="/schedulers">{{ 'MENU.SCHEDULERS'|translate }}</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="/plugins">{{ 'MENU.PLUGINS'|translate }}</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="/scenes">{{ 'MENU.SCENES'|translate }}</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="/threads">{{ 'MENU.THREADS'|translate }}</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="/logs">{{ 'MENU.LOGS'|translate }}</a></li>
    </ul>
  </div>
</nav>
-->

<!--
<p-menubar [model]="items">
-->
<div class="menubox" id="example" style="display: inline; position: relative; z-index: 10000;">
  <p-menubar [model]="getMenuItems()">
    <picture>
      <source media="(min-width: 980px)" srcset="assets/img/logo_long.png">
      <source media="(min-width: 480px)" srcset="assets/img/logo_small_32x32.png">
      <img id="logo" style="display: inline; position: fixed" routerLink="/system" src="no.png"/>
    </picture>

    <button id="logoutButtonL" pButton label="{{'BUTTON.LOGOUT'|translate}}" (click)="logout()" [disabled]="!(authService.isLoggedIn() && authService.loginRequired())" icon="fa fa-sign-out-alt" style="margin-left:.25em" class="hide-on-small ui-button-success"></button>
    <button id="logoutButtonS" pButton (click)="logout()" [disabled]="!(authService.isLoggedIn() && authService.loginRequired())" icon="fa fa-sign-out-alt" style="margin-left:.25em" class="hide-on-large ui-button-success"></button>
  </p-menubar>
</div>
