@switch (inputKind) {
  @case ('select') {
    <p-select
      [options]="row.valid_list"
      [showClear]="true"
      [placeholder]="placeholder"
      [(ngModel)]="row[col.field]"
      (ngModelChange)="row[col.field] = $event; onChanged()"
    >
    </p-select>
  }
  @case ('number') {
    <input
      [(ngModel)]="row[col.field]"
      type="number"
      [min]="validMin"
      [max]="validMax"
      pInputText
      [placeholder]="placeholder"
      [name]="col.field"
      [ngStyle]="{ width: col.iwidth }"
      (ngModelChange)="onChanged()"
    />
  }
  @case ('password') {
    <input
      [(ngModel)]="row[col.field]"
      type="password"
      pInputText
      [placeholder]="placeholder"
      [name]="col.field"
      [ngStyle]="{ width: col.iwidth }"
      (ngModelChange)="onChanged()"
    />
  }
  @case ('text-readonly') {
    <input
      [(ngModel)]="row[col.field]"
      type="text"
      readonly
      pInputText
      [placeholder]="placeholder"
      [name]="col.field"
      [ngStyle]="{ width: col.iwidth, color: '#000077' }"
      (ngModelChange)="onChanged()"
    />
  }
  @case ('text-wide') {
    <input
      [(ngModel)]="row[col.field]"
      type="text"
      pInputText
      [placeholder]="placeholder"
      [name]="col.field"
      [ngStyle]="{ width: col.iwidthwide }"
      (ngModelChange)="onChanged()"
    />
  }
  @case ('text') {
    <input
      [(ngModel)]="row[col.field]"
      type="text"
      pInputText
      [placeholder]="placeholder"
      [name]="col.field"
      [ngStyle]="{ width: col.iwidth }"
      (ngModelChange)="onChanged()"
    />
  }
}
