<div class="navbar">
  <img class="logo" ngSrc="assets/img/logo_long.png" height="29" width="125" />
  <img class="logo-small" ngSrc="assets/img/logo_small_32x32.png" height="32" width="32" />
  <div #topnav class="topnav" id="myTopnav">
    <!--
        <div class="dropdown active">
    -->
    <!--
    <div class="dropdown">
      <button class="dropbtn"><span>{{this.menu[0].label}}
        <div class="show-caret"><i class="fa fa-caret-down"></i></div></span>
      </button>
      <div class="dropdown-content">
        <a href="#">System Eigenschaften</a>
        < !--
        <div class="dropright">
          <button class="droprightbtn">System Eigenschaften
          </button>
          <div class="dropright-content">
            <a href="#">Systemeigenschaften</a>
            <a href="#">Resource Graphiken</a>
            <a href="#">PyPI Check</a>
            <a href="#">Urheberrechtshinweise</a>
          </div>
        </div>
        -- >
        <a href="#">Konfiguration</a>
      </div>
    </div>
    -->

    @for (menuEntry of this.menu; track $index; let i = $index) {
      @if (menuEntry.visible === true && this.loggedIn) {
        @if (menuEntry.items.length === 0) {
          <a (click)="disableResponsiveMenu(menuEntry, false)" [routerLink]="menuEntry.routerLink">{{
            menuEntry.label
          }}</a>
        }
        @if (menuEntry.items.length > 0) {
          <div class="dropdown">
            <button (mouseenter)="enableDropdownMenu()" class="dropbtn" (click)="onMenuHeaderClick(menuEntry)">
              <span
                >{{ menuEntry.label }}
                <div class="show-caret"><i class="fa fa-caret-down"></i></div
              ></span>
            </button>
            <div id="menu-{{ menuEntry.label }}" class="dropdown-content">
              @for (submenuEntry of menuEntry.items; track $index) {
                <a (click)="disableResponsiveMenu(menuEntry)" [routerLink]="submenuEntry.routerLink">{{
                  submenuEntry.label
                }}</a>
              }
            </div>
          </div>
        }
      }
    }

    @if (!(loggedIn && loginRequired)) {
      <a class="logout" style="color: #aaa"><i class="fas fa-sign-out-alt"></i>{{ 'BUTTON.LOGOUT' | translate }}</a>
      <a class="logout-small" style="color: #aaa"><i class="fas fa-sign-out-alt"></i></a>
    }
    @if (loggedIn && loginRequired) {
      <a class="logout" (click)="logout()"><i class="fas fa-sign-out-alt"></i>{{ 'BUTTON.LOGOUT' | translate }}</a>
      <a class="logout-small" (click)="logout()"><i class="fas fa-sign-out-alt"></i></a>
    }

    <a href="javascript:void(0);" style="font-size: 15px" class="icon" (click)="toggleResponsiveMenu()">&#9776;</a>
  </div>
</div>
