.shngbody2 {
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0 var(--page-padding) var(--page-padding) var(--page-padding);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.body-content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

p-tabs {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

/*
.body-header-services {
  grid-area: body-header-services;
  width: 100%;

  display: grid;
  overflow: auto;

  grid-template-columns: 110px minmax(140px, 280px) 1fr;
  grid-auto-rows: minmax(50px, max-content);
}

.body-content-services {
  grid-area: body-content-services;
  width: 100%;

  display: grid;
  overflow: auto;

  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, max-content);
}

.body-footer-services {
  grid-area: body-footer-services;
  width: 100%;
}
*/

/*
.tab-header {
  grid-area: tab-header;
  width: 100%;
}
*/

.tab-content-services {
  width: 100%;
  height: 100%;
  border: 1px solid var(--shng-border);
  border-top: 0;
  padding-left: 10px; /* padding around striped table inside tab border */
  padding-right: 10px;
  overflow: auto;
  box-sizing: border-box;
}

/*
.tab-footer {
  grid-area: tab-footer;
  width: 100%;
}
*/
