
<div class="shngbody">
  <div class="body-content">
    <tabset #staticTabs>

    <tab customClass="tab-shng" heading="{{ 'LOGICS.USERLOGICS'|translate }}">

      <table id="1" class="table table-striped table-hover">

        <div  class="tab-header">
        </div>
          <div  class="tab-content">
            <thead>
            <tr class="shng_heading">
              <th style="width: 30px; border-top:0;"></th>
              <th class="p-1" style="width: 320px; border-top: 0;">{{ 'LOGICS.LOGIC'|translate }}</th>
              <th class="p-1" style="width: 220px; border-top: 0;">{{ 'LOGICS.NEXT_EXEC'|translate }}</th>
              <th class="p-1" style="width: 70px;  border-top: 0;">{{ 'LOGICS.CYCLE'|translate }}</th>
              <th class="p-1" style="width: 150px; border-top: 0;">{{ 'LOGICS.CRONTAB'|translate }}</th>
              <th class="p-1" style="width: 120px; border-top: 0;">{{ 'LOGICS.WATCH_ITEMS'|translate }}</th>
              <th class="p-1" style="width: 250px; border-top: 0;">{{ 'LOGICS.FILENAME'|translate }}</th>
              <th class="p-1" style="width: 260px; border-top: 0;">
                <div style="width: 200px">
                  <button pButton type="button" style="margin-left: 0px; margin-top: 5px; font-size: medium;" id="newLogicButton" [disabled]="false" (click)="newLogic();" icon="fa fa-plus" label="{{ 'BUTTON.NEW_LOGIC'|translate }}" class="ui-button-success float-sm-left"></button>
                  {{ 'LOGICS.ACTIONS'|translate }}
                </div>
              </th>
            </tr>
            </thead>

          <tbody>
            <ng-container *ngIf="userlogics?.length > 0">
              <ng-container *ngFor="let logic of userlogics">
                <ng-container *ngIf="logic.userlogic === true">
                  <tr>
                    <ng-container *ngIf="logic.enabled === true, then logicEnabled; else logicDisabled"></ng-container>
                    <ng-template #logicEnabled>
                      <td class="p-1 pl-2"><span style="color: var(--shng-green);" title="{{ 'LOGICS.ENABLED'|translate }}" class="fas fa-play-circle"></span></td>
                      <td class="p-1">{{ logic.name }}</td>
                      <td class="p-1">{{ logic.next_exec }}</td>
                      <td class="p-1">{{ logic.cycle }}</td>
                      <td class="p-1">{{ logic.crontab }}</td>
                    </ng-template>
                    <ng-template #logicDisabled>
                      <td class="p-1 pl-2"><span style="color: var(--shng-red)" title="{{ 'LOGICS.DISABLED'|translate }}" class="fas fa-pause-circle"></span></td>
                      <td class="p-1">{{ logic.name }}</td>
                      <td class="p-1" style="color: var(--shng-disabled)">{{ logic.next_exec }}</td>
                      <td class="p-1" style="color: var(--shng-disabled)">{{ logic.cycle }}</td>
                      <td class="p-1" style="color: var(--shng-disabled)">{{ logic.crontab }}</td>
                    </ng-template>

                    <ng-container *ngIf="logic.watch_item_list?.length > 0">
                      <td style="cursor: pointer;" (click)="details.show()">
                        <ng-container *ngIf="logic.enabled; then watchItemSizeEnabled; else watchItemSizeDisabled"></ng-container>
                        <ng-template #watchItemSizeEnabled>
                                  <span>
                                    {{ logic.watch_item_list?.length }}
                                    <span class="fas fa-search"></span>
                                  </span>
                        </ng-template>
                        <ng-template #watchItemSizeDisabled>
                                  <span style="color:var(--shng-disabled);">
                                    {{ logic.watch_item_list?.length }}
                                    <span class="fas fa-search" style="color: var(--shng-disabled);"></span>
                                  </span>
                        </ng-template>
                      </td>
                    </ng-container>
                    <ng-container *ngIf="logic.watch_item_list?.length === 0">
                      <td class="p-1">-</td>
                    </ng-container>

                    <td class="p-1">
                      <ng-container *ngIf="logic.logictype === 'Blockly'; then blocklyLink; else noBlocklyLink">
                      </ng-container>
                      <ng-template #blocklyLink></ng-template>
                      <ng-template #noBlocklyLink>
                        <!--
                        <a class="text-shng" [routerLink]="['/logics/edit', logic.filename]">{{ logic.filename }}</a>
                        -->
                        <a id="userlogics_{{ logic.filename }}" class="text-shng" [routerLink]="['/logics/edit', logic.name + '|' + logic.filename]">{{ logic.filename }}</a>
                      </ng-template>
                    </td>
                    <td class="p-1">
                      <ng-container *ngIf="logic.enabled; then logicEnabledActions; else logicDisabledActions"></ng-container>
                      <ng-template #logicEnabledActions>
                        <button name="trigger" title="{{ 'LOGICS.TRIGGER'|translate }}" class="btn btn-outline-dark btn-sm mr-1" (click)="triggerLogic(logic.name);"><i class="fas fa-hand-pointer"></i></button>
                        <button name="reload"  title="{{ 'LOGICS.RELOAD'|translate }}" class="btn btn-outline-dark btn-sm mr-1" (click)="reloadLogic(logic.name);"><i class="fas fa-sync"></i></button>
                        <button name="disable" title="{{ 'LOGICS.DISABLE'|translate }}" class="btn btn-outline-dark btn-sm mr-1" (click)="disableLogic(logic.name);"><i class="fas fa-pause"></i></button>
                      </ng-template>
                      <ng-template #logicDisabledActions>
                        <button disabled="true" name="trigger" title="{{ 'LOGICS.TRIGGER'|translate }}" class="btn btn-outline-dark btn-sm mr-1"><i class="fas fa-hand-pointer"></i></button>
                        <button name="reload"  title="{{ 'LOGICS.RELOAD'|translate }}" class="btn btn-outline-dark btn-sm mr-1" (click)="reloadLogic(logic.name);"><i class="fas fa-sync"></i></button>
                        <button name="enable"  title="{{ 'LOGICS.ENABLE'|translate }}" class="btn btn-outline-dark btn-sm mr-1" (click)="enableLogic(logic.name);"><i class="fas fa-play"></i></button>
                      </ng-template>
                      <button name="unload" title="{{ 'LOGICS.UNLOAD'|translate }}" class="btn btn-outline-dark btn-sm mr-1" (click)="unloadLogic(logic.name);"><i class="fas fa-eject"></i></button>
                      <button name="delete" title="{{ 'LOGICS.DELETE'|translate }}" class="btn btn-outline-danger btn-sm" (click)="deleteLogic(logic.name, logic.filename);"><i class="far fa-trash-alt" aria-hidden="true" style="color: var(--shng-red);"></i></button>
                    </td>
                  </tr>
                  <div bsModal #details="bs-modal" class="modal fade" tabindex="1" role="dialog" aria-labelledby="dialog-sizes-name2">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog modal-lg vertical-align-center">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 id="dialog-sizes-name2" class="modal-title pull-left">
                              {{ 'LOGICS.WATCH_ITEMS'|translate }}
                            </h5>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="details.hide()">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="card" style="margin-bottom: 5px;">
                              <div class="card-body p-1">
                                <ng-container *ngFor="let watch_item of logic.watch_item_list">
                                  <div class="item-box m-1 p-1">{{ watch_item }}</div>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="userlogics?.length == 0">
              <tr><td colspan="8">{{ 'LOGICS.NO_DATA'|translate }}</td></tr>
            </ng-container>

            <ng-container *ngIf="newlogics?.length >0">
              <tr><th colspan="8">{{ 'LOGICS.NEW_LOGICS'|translate }}</th><tr>
            </ng-container>
            <ng-container *ngFor="let logic of newlogics">
              <ng-container *ngIf="logic.userlogic === true">
                <tr>
                  <td class="p-1 pl-2">
                    <ng-container *ngIf="logic.enabled === true, then logicEnabled; else logicDisabled"></ng-container>
                    <ng-template #logicEnabled>
                      <span style="color: var(--shng-green);" class="fas fa-play-circle"></span>
                    </ng-template>
                    <ng-template #logicDisabled>
                      <span style="color: var(--shng-red)" class="fas fa-pause-circle"></span>
                    </ng-template>
                  </td>
                  <td class="p-1">{{ logic.name }}</td>
                  <td class="p-1"></td>
                  <td class="p-1"></td>
                  <td class="p-1"></td>
                  <td class="p-1"></td>
                  <td class="p-1">
                    <ng-container *ngIf="logic.logictype === 'Blockly'; then blocklyLink; else noBlocklyLink">
                    </ng-container>
                    <ng-template #blocklyLink></ng-template>
                    <ng-template #noBlocklyLink>
                      <!--
                      <a class="text-shng" href="logics_view.html?file_path={{ logic.pathname }}&logicname={{ logic.name }}">{{ logic.filename }}</a>
                      -->
                      <a id="newlogics_{{ logic.filename }}" class="text-shng" [routerLink]="['/logics/edit', logic.name + '|' + logic.filename]">{{ logic.filename }}</a>
                    </ng-template>
                  </td>
                  <td class="p-1">
                    <ng-container *ngIf="logic.filename != ''">
                      <button name="add" title="{{ 'LOGICS.ADD'|translate }}" type="submit" class="btn btn-outline-dark btn-sm mr-1" (click)="loadLogic(logic.name);"><i class="fas fa-plus"></i></button>
                    </ng-container>
                    <button name="delete" title="{{ 'LOGICS.DELETE'|translate }}" class="btn btn-outline-danger btn-sm" (click)="deleteLogic(logic.name, logic.filename);"><i class="far fa-trash-alt" aria-hidden="true" style="color: var(--shng-red);"></i></button>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </div>

        <!--

                  <div class="tab-content">
                <tbody>
                <ng-container *ngIf="userlogics?.length > 0">
                  <ng-container *ngFor="let logic of userlogics">
                    <ng-container *ngIf="logic.userlogic === true">
                      <tr>
                        <ng-container *ngIf="logic.enabled === true, then logicEnabled; else logicDisabled"></ng-container>
                        <ng-template #logicEnabled>
                          <td class="p-1 pl-2"><span style="color: var(--shng-green);" title="{{ 'LOGICS.ENABLED'|translate }}" class="fas fa-play-circle"></span></td>
                          <td class="p-1">{{ logic.name }}</td>
                          <td class="p-1">{{ logic.next_exec }}</td>
                          <td class="p-1">{{ logic.cycle }}</td>
                          <td class="p-1">{{ logic.crontab }}</td>
                        </ng-template>
                        <ng-template #logicDisabled>
                          <td class="p-1 pl-2"><span style="color: var(--shng-red)" title="{{ 'LOGICS.DISABLED'|translate }}" class="fas fa-pause-circle"></span></td>
                          <td class="p-1">{{ logic.name }}</td>
                          <td class="p-1" style="color: var(--shng-disabled)">{{ logic.next_exec }}</td>
                          <td class="p-1" style="color: var(--shng-disabled)">{{ logic.cycle }}</td>
                          <td class="p-1" style="color: var(--shng-disabled)">{{ logic.crontab }}</td>
                        </ng-template>

                        <ng-container *ngIf="logic.watch_item_list?.length > 0">
                          <td style="cursor: pointer;" (click)="details.show()">
                            <ng-container *ngIf="logic.enabled; then watchItemSizeEnabled; else watchItemSizeDisabled"></ng-container>
                              <ng-template #watchItemSizeEnabled>
                                <span>
                                  {{ logic.watch_item_list?.length }}
                                  <span class="fas fa-search"></span>
                                </span>
                              </ng-template>
                              <ng-template #watchItemSizeDisabled>
                                <span style="color:var(--shng-disabled);">
                                  {{ logic.watch_item_list?.length }}
                                  <span class="fas fa-search" style="color: var(--shng-disabled);"></span>
                                </span>
                              </ng-template>
                          </td>
                        </ng-container>
                        <ng-container *ngIf="logic.watch_item_list?.length === 0">
                          <td class="p-1">-</td>
                        </ng-container>

                        <td class="p-1">
                          <ng-container *ngIf="logic.logictype === 'Blockly'; then blocklyLink; else noBlocklyLink">
                          </ng-container>
                          <ng-template #blocklyLink></ng-template>
                          <ng-template #noBlocklyLink>
                            < !--
                            <a class="text-shng" [routerLink]="['/logics/edit', logic.filename]">{{ logic.filename }}</a>
                            -- >
                            <a id="userlogics_{{ logic.filename }}" class="text-shng" [routerLink]="['/logics/edit', logic.name + '|' + logic.filename]">{{ logic.filename }}</a>
                          </ng-template>
                        </td>
                        <td class="p-1">
                          <ng-container *ngIf="logic.enabled; then logicEnabledActions; else logicDisabledActions"></ng-container>
                            <ng-template #logicEnabledActions>
                              <button name="trigger" title="{{ 'LOGICS.TRIGGER'|translate }}" class="btn btn-outline-dark btn-sm mr-1" (click)="triggerLogic(logic.name);"><i class="fas fa-hand-pointer"></i></button>
                              <button name="reload"  title="{{ 'LOGICS.RELOAD'|translate }}" class="btn btn-outline-dark btn-sm mr-1" (click)="reloadLogic(logic.name);"><i class="fas fa-sync"></i></button>
                              <button name="disable" title="{{ 'LOGICS.DISABLE'|translate }}" class="btn btn-outline-dark btn-sm mr-1" (click)="disableLogic(logic.name);"><i class="fas fa-pause"></i></button>
                            </ng-template>
                            <ng-template #logicDisabledActions>
                              <button disabled="true" name="trigger" title="{{ 'LOGICS.TRIGGER'|translate }}" class="btn btn-outline-dark btn-sm mr-1"><i class="fas fa-hand-pointer"></i></button>
                              <button name="reload"  title="{{ 'LOGICS.RELOAD'|translate }}" class="btn btn-outline-dark btn-sm mr-1" (click)="reloadLogic(logic.name);"><i class="fas fa-sync"></i></button>
                              <button name="enable"  title="{{ 'LOGICS.ENABLE'|translate }}" class="btn btn-outline-dark btn-sm mr-1" (click)="enableLogic(logic.name);"><i class="fas fa-play"></i></button>
                            </ng-template>
                            <button name="unload" title="{{ 'LOGICS.UNLOAD'|translate }}" class="btn btn-outline-dark btn-sm mr-1" (click)="unloadLogic(logic.name);"><i class="fas fa-eject"></i></button>
                            <button name="delete" title="{{ 'LOGICS.DELETE'|translate }}" class="btn btn-outline-danger btn-sm" (click)="deleteLogic(logic.name, logic.filename);"><i class="far fa-trash-alt" aria-hidden="true" style="color: var(--shng-red);"></i></button>
                        </td>
                      </tr>
                      <div bsModal #details="bs-modal" class="modal fade" tabindex="1" role="dialog" aria-labelledby="dialog-sizes-name2">
                        <div class="vertical-alignment-helper">
                          <div class="modal-dialog modal-lg vertical-align-center">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 id="dialog-sizes-name2" class="modal-title pull-left">
                                  {{ 'LOGICS.WATCH_ITEMS'|translate }}
                                </h5>
                                <button type="button" class="close pull-right" aria-label="Close" (click)="details.hide()">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="card" style="margin-bottom: 5px;">
                                  <div class="card-body p-1">
                                    <ng-container *ngFor="let watch_item of logic.watch_item_list">
                                    <div class="item-box m-1 p-1">{{ watch_item }}</div>
                                    </ng-container>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="userlogics?.length == 0">
                  <tr><td colspan="8">{{ 'LOGICS.NO_DATA'|translate }}</td></tr>
                </ng-container>

                <ng-container *ngIf="newlogics?.length >0">
                  <tr><th colspan="8">{{ 'LOGICS.NEW_LOGICS'|translate }}</th><tr>
                </ng-container>
                <ng-container *ngFor="let logic of newlogics">
                  <ng-container *ngIf="logic.userlogic === true">
                    <tr>
                      <td class="p-1 pl-2">
                        <ng-container *ngIf="logic.enabled === true, then logicEnabled; else logicDisabled"></ng-container>
                        <ng-template #logicEnabled>
                          <span style="color: var(--shng-green);" class="fas fa-play-circle"></span>
                        </ng-template>
                        <ng-template #logicDisabled>
                          <span style="color: var(--shng-red)" class="fas fa-pause-circle"></span>
                        </ng-template>
                      </td>
                      <td class="p-1">{{ logic.name }}</td>
                      <td class="p-1"></td>
                      <td class="p-1"></td>
                      <td class="p-1"></td>
                      <td class="p-1"></td>
                      <td class="p-1">
                        <ng-container *ngIf="logic.logictype === 'Blockly'; then blocklyLink; else noBlocklyLink">
                        </ng-container>
                        <ng-template #blocklyLink></ng-template>
                        <ng-template #noBlocklyLink>
                          < !--
                          <a class="text-shng" href="logics_view.html?file_path={{ logic.pathname }}&logicname={{ logic.name }}">{{ logic.filename }}</a>
                          -- >
                          <a id="newlogics_{{ logic.filename }}" class="text-shng" [routerLink]="['/logics/edit', logic.name + '|' + logic.filename]">{{ logic.filename }}</a>
                        </ng-template>
                      </td>
                      <td class="p-1">
                        <ng-container *ngIf="logic.filename != ''">
                          <button name="add" title="{{ 'LOGICS.ADD'|translate }}" type="submit" class="btn btn-outline-dark btn-sm mr-1" (click)="loadLogic(logic.name);"><i class="fas fa-plus"></i></button>
                        </ng-container>
                        <button name="delete" title="{{ 'LOGICS.DELETE'|translate }}" class="btn btn-outline-danger btn-sm" (click)="deleteLogic(logic.name, logic.filename);"><i class="far fa-trash-alt" aria-hidden="true" style="color: var(--shng-red);"></i></button>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
                </tbody>
                  </div>
        -->
      </table>
    </tab>


    <tab customClass="tab-shng" heading="{{ 'LOGICS.SYSTEMLOGICS'|translate }}">
      <div class="tab-content">
        <table id="2" class="table table-striped table-hover">
        <thead>
        <tr class="shng_heading">
          <th style="width: 30px; border-top: 0"></th>
          <th class="p-1" style="width: 150px; border-top: 0">{{ 'LOGICS.LOGIC'|translate }}</th>
          <th class="p-1" style="width: 200px; border-top: 0">{{ 'LOGICS.NEXT_EXEC'|translate }}</th>
          <th class="p-1" style="width: 250px; border-top: 0">{{ 'LOGICS.CYCLE'|translate }}</th>
          <th class="p-1" style="width: 160px; border-top: 0">{{ 'LOGICS.CRONTAB'|translate }}</th>
          <th class="p-1" style="width: 150px; border-top: 0">{{ 'LOGICS.WATCH_ITEMS'|translate }}</th>
          <th class="p-1" style="width: 120px; border-top: 0">{{ 'LOGICS.FILENAME'|translate }}</th>
          <th class="p-1" style="width: 40px;  border-top: 0;" >{{ 'LOGICS.ACTIONS'|translate }}</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="systemlogics?.length > 0">
          <ng-container *ngFor="let logic of systemlogics">
            <ng-container *ngIf="logic.userlogic === false">
              <tr>
                <td class="p-1 pl-2">
                  <ng-container *ngIf="logic.enabled === true, then logicEnabled; else logicDisabled"></ng-container>
                  <ng-template #logicEnabled>
                    <span style="color: green;" title="{{ 'LOGICS.ENABLED'|translate }}" class="fas fa-play-circle"></span>
                  </ng-template>
                  <ng-template #logicDisabled>
                    <span style="color: red" title="{{ 'LOGICS.DISABLED'|translate }}" class="fas fa-pause-circle"></span>
                  </ng-template>
                </td>
                <td class="p-1">{{ logic.name }}</td>
                <td class="p-1">{{ logic.next_exec }}</td>
                <td class="p-1">{{ logic.cycle }}</td>
                <td class="p-1">{{ logic.crontab }}</td>
                <td class="p-1"></td>
                <td class="p-1">{{ logic.filename }}</td>
                <td></td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="systemlogics?.length == 0">
          <tr><td colspan="8">{{ 'LOGICS.NO_DATA'|translate }}</td></tr>
        </ng-container>
        </tbody>
      </table>
      </div>
    </tab>
  </tabset>
  </div>
</div>


<!--
  -- Confirm dialog vor configuration deletion
  -->
<p-dialog header="" [(visible)]="confirmdelete_display" [modal]="true" blockScroll="true">
  <p-header>
    {{'LOGICS.DELETE_LOGIC'|translate}}
  </p-header>
  <br>
  {{'LOGICS.DELETE_LOGIC_TEXT'|translate:delete_param}}
  <br>
  <br>
  <p-footer>
    <button pButton type="button" icon="fa fa-trash-alt" (click)="deleteLogicConfirm()" label="{{'BUTTON.DELETE'|translate}}" class="ui-button-danger"></button>
    <button pButton type="button" icon="fa fa-times" (click)="deleteLogicAbort()" label="{{'BUTTON.ABORT'|translate}}" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>



<!--
  -- Dialog for entering logic name and logic filename of a new logic
  -->

<p-dialog
  header=""
  [(visible)]="newlogic_display"
  [modal]="true"
  blockScroll="true"
  [closable]="false"
  [maximizable]="false"
  [minY]="100"
  [style]="{'width':'600px', 'minWidth':'600px', 'minHeight':'200px'}"
>

  <p-header>
    {{'LOGICS.CREATE_LOGIC'|translate}}
  </p-header>

  {{'LOGICS.CREATE_LOGIC_TEXT'|translate}}
    <br>
  <br>
    <label style="display: block;">
      <span style="display: inline-block; width: 80px;">{{ 'LOGICS.LOGIC'|translate }}:</span>

     <input [(ngModel)]="newlogic_name" id="nlog" type="text" (input)="checkNewLogicInput();" pInputText placeholder="" style="position: absolute; margin-left: 100px" [ngStyle]="{'width': 30}" autofocus/>
    </label>

  <label style="display: block;">
    <span style="display: inline-block; width: 80px;">{{ 'LOGICS.FILENAME'|translate }}:</span>
    <input [(ngModel)]="newlogic_filename" id="nfn" type="text" (input)="checkNewLogicInput();" pInputText placeholder="" style="position: absolute; margin-left: 100px" [ngStyle]="{'width': 30}" autofocus/>
  </label>
  <br>
  <alert *ngIf="this.wrongNewLogicName" type="danger" [dismissible]="true" (onClosed)="this.wrongNewLogicName=''" class="mt-2" id="newLogicsAlert">
    {{ this.wrongNewLogicName|translate }}
  </alert>
  <p-footer>
    <button pButton type="button" id="createLogicsButton" icon="pi pi-check" (click)="this.wrongNewLogicName=''; this.createLogic()" [(disabled)]="!newlogic_add_enabled" label="{{'BUTTON.CREATE'|translate}}" class="ui-button-success" autofocus></button>
    <button pButton type="button" id="cancleCreateLogicsButton" icon="pi pi-times" (click)="this.wrongNewLogicName=''; newlogic_display=false" label="{{'BUTTON.ABORT'|translate}}" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>



