<div class="shngbody">
  <div>
    <h4 style="margin-left: 15px; margin-top: 5px">{{ 'ITEMS.STRUCT_TEMPLATES' | translate }}</h4>
    <p-accordion
      [multiple]="true"
      (onOpen)="groupExpanded[structsGroups[$event.index]] = true"
      (onClose)="groupExpanded[structsGroups[$event.index]] = false"
    >
      @for (group of structsGroups; track group) {
        <p-accordion-panel [value]="$index">
          <p-accordion-header>
            @if (group === 'my') {
              <span style="font-size: large; font-weight: bold">{{ group }} structs</span>
            }
            @if (group !== 'my') {
              <span style="font-size: large; font-weight: bold">{{ group }} plugin-structs</span>
            }
          </p-accordion-header>
          <p-accordion-content>
            <p-accordion
              [multiple]="true"
              (onOpen)="
                structExpanded2[1000 * structsGroups.indexOf(group) + $event.index] = true;
                doConsoleLog(group + ':' + structsList[$event.index])
              "
              (onClose)="
                structExpanded2[1000 * structsGroups.indexOf(group) + $event.index] = false;
                doConsoleLog(-1 * (1000 * structsGroups.indexOf(group) + $event.index))
              "
            >
              @for (struct of getStructListByGroup(group); track struct) {
                @if (struct.indexOf(group + '.') === 0 || group === globalStructsID || group === 'my') {
                  <p-accordion-panel [value]="$index">
                    <p-accordion-header>
                      @if (structsDict[struct]['name'] === undefined) {
                        <span style="font-size: large; font-weight: bold">{{ struct }}</span>
                      }
                      @if (structsDict[struct]['name'] !== undefined) {
                        <span style="font-size: large; font-weight: bold">{{ struct }}</span> &nbsp; &nbsp; ({{
                          structsDict[struct]['name']
                        }})
                      }
                    </p-accordion-header>
                    <p-accordion-content>
                      <div style="margin-left: 17px">
                        <button
                          pButton
                          label="{{ 'ITEMS.REDUCE ALL' | translate }}"
                          type="button"
                          style="margin-right: 5px; margin-bottom: 4px"
                          icon="fa fa-folder"
                          (click)="collapseAll(displayTrees[struct], struct)"
                          class="ui-button-success"
                        ></button>
                        <button
                          pButton
                          label="{{ 'ITEMS.EXPAND ALL' | translate }}"
                          type="button"
                          style="margin-right: 5px; margin-bottom: 4px"
                          icon="fa fa-folder-open"
                          (click)="expandAll(displayTrees[struct], struct)"
                          class="ui-button-success"
                        ></button>

                        <p-tree
                          [value]="displayTrees[struct]"
                          selectionMode="single"
                          [(selection)]="selectedItem"
                          emptyMessage="{{ 'ITEMS.NO ITEMS' | translate }}"
                          [style]="{ width: '100%' }"
                        >
                          <ng-template let-node pTemplate="default"> {{ node.label }} &nbsp; </ng-template>
                        </p-tree>
                      </div>
                    </p-accordion-content>
                  </p-accordion-panel>
                }
              }
            </p-accordion>
          </p-accordion-content>
        </p-accordion-panel>
      }
    </p-accordion>
  </div>

  <!--
  <h4 style="margin-left: 15px; margin-top: 5px;">{{ 'ITEMS.STRUCT_TEMPLATES'|translate }}</h4>
  <p-accordion [multiple]="true" (onOpen)="structExpanded[structsList[$event.index]]=true"  (onClose)="structExpanded[structsList[$event.index]]=false">
    @for (struct of structsList; track struct) {
      <p-accordionTab>
        <ng-template pTemplate="header">
          @if (structsDict[struct]['name'] === undefined) {
            <span style="font-size: large; font-weight: bold; ">{{struct}}</span>
          }
          @if (structsDict[struct]['name'] !== undefined) {
            <span style="font-size: large; font-weight: bold; ">{{struct}}</span> &nbsp; &nbsp; ({{structsDict[struct]['name']}})
          }

          @if (structExpanded[struct] === true) {
            <button pButton label="{{ 'ITEMS.REDUCE ALL'|translate }}" type="button" style="margin-right: 5px" icon="fa fa-folder" (click)="$event.stopPropagation(); collapseAll(displayTrees[struct])" class="float-sm-right ui-button-success"></button>
            <button pButton label="{{ 'ITEMS.EXPAND ALL'|translate }}" type="button" style="margin-right: 5px" icon="fa fa-folder-open" (click)="$event.stopPropagation(); expandAll(displayTrees[struct])" class="float-sm-right ui-button-success"></button>
          }

        </ng-template>

        <div style="margin-left: 17px;">

          <p-tree [value]="displayTrees[struct]"
                  selectionMode="single"
                  [(selection)]="selectedItem"
                  emptyMessage="{{'ITEMS.NO ITEMS'|translate}}"
                  [style]="{width: '100%'}">
            <ng-template let-node  pTemplate="default">
              {{node.label}} &nbsp;
            </ng-template>

          </p-tree>

        </div>
      </p-accordionTab>
    }
  </p-accordion>
--></div>
