.shngbody {
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: max(20%, 200px) 1fr;
  grid-template-rows: auto 1fr;
}

.button-row {
  grid-column: 1 / -1;
  grid-row: 1;
  font-weight: normal;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 20px;
}

.logics-groupslist {
  grid-column: 1;
  grid-row: 2;
  min-width: 16px;
  margin-top: 10px;
}

.logics-groupeditor {
  grid-column: 2;
  grid-row: 2;
  margin-top: 44px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--shng-border);
}

.description {
  width: 100%;
  height: 120px;
  overflow: auto;
  border: 1px solid var(--shng-border);
  background-color: white;
}

.description-text {
  margin-left: 4px;
  padding-bottom: 48px;
}

.tab-shng > a {
  border-bottom: none !important;
  outline: 0 !important;
  color: rgb(160, 160, 160);
}
