<div class="shngbody">
  <div class="shng-page-header page-header-bar">{{ 'MENU.LOGICS_GROUPS' | translate }}</div>
  <div class="button-toolbar">
    <div class="button-toolbar-left">
      <button
        pButton
        label="{{ 'BUTTON.NEW_GROUP' | translate }}"
        type="button"
        [disabled]="!(myEditGroup === '' || !this.groupChanged)"
        icon="far fa-file"
        (click)="newGroup()"
        class="ui-button-success"
      ></button>
      <button
        pButton
        type="button"
        [disabled]="myEditGroup === ''"
        icon="far fa-trash-alt"
        style="width: 25px"
        (click)="deleteGroup()"
        class="ui-button-danger"
      ></button>
      <button
        pButton
        label="{{ 'LOGIC_GROUPS.MERGE_INTO' | translate }}"
        type="button"
        [disabled]="myEditGroup === '' || groupList.length < 2"
        icon="fa fa-code-merge"
        (click)="openMergeDialog()"
        class="ui-button-secondary"
      ></button>
    </div>
    <div class="button-toolbar-right">
      <button
        pButton
        label="{{ 'BUTTON.DISCARD' | translate }}"
        type="button"
        [disabled]="!this.groupChanged"
        icon="fa fa-times"
        (click)="this.discardChanges()"
        class="ui-button-secondary"
      ></button>
      <button
        pButton
        label="{{ 'BUTTON.SAVE' | translate }}"
        type="button"
        [disabled]="!this.groupChanged"
        icon="fa fa-check"
        (click)="saveGroup()"
        class="ui-button-success"
      ></button>
    </div>
  </div>

  @if (unknownGroupNames().length > 0) {
    <div class="unknown-groups-banner">
      <i class="fa fa-exclamation-triangle" style="margin-right: 8px"></i>
      <strong>{{ 'LOGICS.UNKNOWN_GROUPS_BANNER' | translate }}</strong>
      <ul class="unknown-groups-list">
        @for (gname of unknownGroupNames(); track gname) {
          <li>
            <span class="unknown-group-name">{{ gname }}</span>
            <span class="unknown-group-members"
              >({{ 'LOGICS.USED_BY' | translate }}: {{ unknownGroups[gname].join(', ') }})</span
            >
            <button
              pButton
              type="button"
              icon="far fa-file"
              [label]="'BUTTON.CREATE' | translate"
              class="ui-button-warning btn-sm"
              style="margin-left: 12px"
              (click)="createUnknownGroup(gname)"
            ></button>
          </li>
        }
      </ul>
    </div>
  }

  <div class="logics-groupslist">
    <i class="fa fa-sitemap" style="margin-left: 5px; color: var(--text-caption)"></i>
    <a style="margin-left: 5px; color: var(--text-muted)">{{ 'LOGICS.GROUPS' | translate }}</a>

    <p-listbox
      [options]="menuGroupList"
      [(ngModel)]="selectedGroup"
      [disabled]="!(myEditGroup === '' || !groupChanged)"
      (onChange)="groupSelected()"
      optionLabel="label"
      [style]="{ width: '100%' }"
      [listStyle]="{ height: '100%', 'min-height': '200px' }"
    >
    </p-listbox>
  </div>

  <div class="logics-groupeditor">
    <table id="1" class="table table-striped shng-list-table">
      <tr>
        <td width="120px">{{ 'LOGIC_GROUPS.GROUP_NAME' | translate }}</td>
        <td>
          <input
            [(ngModel)]="myEditGroup"
            [disabled]="true"
            type="text"
            pInputText
            placeholder=""
            name="name"
            style="width: 100%"
          />
        </td>
      </tr>
      <tr>
        <td width="120px">{{ 'LOGIC_GROUPS.GROUP_TITLE' | translate }}</td>
        <td>
          <input
            [(ngModel)]="group.title"
            (keyup)="this.groupChanged = hasGroupChanged()"
            type="text"
            pInputText
            placeholder=""
            name="title"
            style="width: 100%"
          />
        </td>
      </tr>
      <tr>
        <td valign="top">{{ 'LOGIC_GROUPS.GROUP_DESCRIPTION' | translate }}</td>
        <td>
          <div class="description">
            <div
              #groupDesc
              class="description-text"
              id="group-desc"
              contenteditable="true"
              (keyup)="this.groupChanged = hasGroupChanged()"
            >
              {{ group.description }}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td valign="top" style="padding-top: 12px">{{ 'LOGIC_GROUPS.GROUP_MEMBERS' | translate }}</td>
        <td>
          <p-pickList
            [source]="membersAvailable"
            [target]="membersInGroup"
            [sourceHeader]="'LOGIC_GROUPS.AVAILABLE_LOGICS' | translate"
            [targetHeader]="'LOGIC_GROUPS.GROUP_MEMBERS' | translate"
            [dragdrop]="true"
            [responsive]="true"
            [showSourceControls]="false"
            [showTargetControls]="false"
            filterBy="name,logic_description"
            [sourceFilterPlaceholder]="'FILTER' | translate"
            [targetFilterPlaceholder]="'FILTER' | translate"
            (onMoveToTarget)="onPickListChange()"
            (onMoveToSource)="onPickListChange()"
            (onMoveAllToTarget)="onPickListChange()"
            (onMoveAllToSource)="onPickListChange()"
            [disabled]="myEditGroup === ''"
            styleClass="members-picklist"
          >
            <ng-template #item let-logic>
              <div class="picklist-item">
                <span class="picklist-name">{{ logic.name }}</span>
                @if (logic.logic_description) {
                  <span class="picklist-desc">{{ logic.logic_description }}</span>
                }
              </div>
            </ng-template>
          </p-pickList>
        </td>
      </tr>
    </table>
  </div>
</div>

<!--
  -- Dialog for setting the name of the new group
  -->

<p-dialog
  header=""
  [(visible)]="newgroup_display"
  [modal]="true"
  blockScroll="true"
  [closable]="false"
  [maximizable]="false"
  [minY]="100"
  [style]="{ minWidth: '600px', minHeight: '200px' }"
>
  <ng-template pTemplate="header">
    {{ 'LOGIC_GROUPS.NAME_NEW_GROUP' | translate }}
  </ng-template>

  <br />
  <div style="display: flex; align-items: center; gap: 8px">
    {{ 'LOGIC_GROUPS.UNIQUE_NAME' | translate }}
    <input [(ngModel)]="newGroupname" type="text" (input)="checkInput()" pInputText placeholder="" autofocus />
  </div>
  <br />
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      icon="pi pi-check"
      (click)="this.addGroup()"
      [disabled]="!this.add_enabled"
      label="{{ 'BUTTON.ADD' | translate }}"
      class="ui-button-success"
      autofocus
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-times"
      (click)="this.newGroupAbort()"
      label="{{ 'BUTTON.ABORT' | translate }}"
      class="ui-button-secondary"
    ></button>
  </ng-template>
</p-dialog>

<!--
  -- Error dialog
  -->
<p-dialog header="" [(visible)]="error_display" [closable]="false" [modal]="true" blockScroll="true">
  <ng-template pTemplate="header">
    {{ 'ITEM_CONFIG.CONFIG_ERROR' | translate }}
  </ng-template>
  <br />
  <pre
    >{{ 'ITEM_CONFIG.CONFIG_ERROR_TEXT' | translate }}

    {{ myTextOutput }}
  </pre>
  <br />
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      (click)="error_display = false"
      label="{{ 'BUTTON.CLOSE' | translate }}"
      class="ui-button-success"
    ></button>
  </ng-template>
</p-dialog>

<!--
  -- Confirm delete dialog
  -->
<p-dialog header="" [(visible)]="confirmdelete_display" [modal]="true" blockScroll="true">
  <ng-template pTemplate="header">
    {{ 'LOGIC_GROUPS.DELETE_GROUP' | translate }}
  </ng-template>
  <br />
  {{ 'LOGIC_GROUPS.DELETE_GROUP_CONFIRM' | translate: delete_param }}
  <br />
  <br />
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      icon="fa fa-trash-alt"
      (click)="DeleteGroupConfirm()"
      label="{{ 'BUTTON.DELETE' | translate }}"
      class="ui-button-danger"
    ></button>
    <button
      pButton
      type="button"
      icon="fa fa-times"
      (click)="confirmdelete_display = false"
      label="{{ 'BUTTON.ABORT' | translate }}"
      class="ui-button-secondary"
    ></button>
  </ng-template>
</p-dialog>

<!--
  -- Merge group dialog
  -->
<p-dialog
  header=""
  [(visible)]="mergeDialog"
  [modal]="true"
  blockScroll="true"
  [closable]="false"
  [style]="{ minWidth: '480px', minHeight: '260px' }"
>
  <ng-template pTemplate="header">
    {{ 'LOGIC_GROUPS.MERGE_DIALOG_TITLE' | translate }}
  </ng-template>

  <br />
  <div style="display: flex; align-items: center; gap: 8px; flex-wrap: wrap">
    <span>{{ 'LOGIC_GROUPS.MERGE_SELECT_TARGET' | translate: { source: myEditGroup } }}</span>
    <p-select
      [(ngModel)]="mergeTargetName"
      [options]="mergeGroupOptions"
      optionLabel="label"
      optionValue="value"
      [placeholder]="'LOGIC_GROUPS.MERGE_SELECT_PLACEHOLDER' | translate"
      appendTo="body"
      style="min-width: 220px"
    ></p-select>
  </div>
  @if (mergeTargetName) {
    <div style="margin-top: 12px; font-style: italic; color: var(--text-muted)">
      {{ 'LOGIC_GROUPS.MERGE_PREVIEW' | translate: mergePreviewParams }}
    </div>
  }
  <br />
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      icon="fa fa-code-merge"
      (click)="executeMerge()"
      [disabled]="!mergeTargetName"
      label="{{ 'LOGIC_GROUPS.MERGE_CONFIRM' | translate }}"
      class="ui-button-success"
    ></button>
    <button
      pButton
      type="button"
      icon="fa fa-times"
      (click)="mergeDialog = false"
      label="{{ 'BUTTON.ABORT' | translate }}"
      class="ui-button-secondary"
    ></button>
  </ng-template>
</p-dialog>
