
<div class="shngbody">
<div>
  <tabset #staticTabs>
    <tab customClass="tab-shng" heading="{{ 'SYSTEM.SYSTEMINFO'|translate }}">
      <div class="shngtabbody">
      <div class="shngsysinfo">
        <span></span>
        <span><strong>{{ 'SYSTEM.PROPERTY'|translate }}</strong></span>
        <span><strong>{{ 'SYSTEM.STATE'|translate }}</strong></span>

        <span><img src="assets/img/logo_small_76x76.png"></span>
        <span>{{'SYSTEM.SHNG_VERSION'|translate}}:</span>
        <span>{{ systeminfo.sh_vers }}&nbsp;{{ 'SYSTEM.IN'|translate }}&nbsp;{{ systeminfo.sh_dir }}&nbsp;&nbsp;-&nbsp;&nbsp; {{ systeminfo.sh_desc }}</span>

        <span><img src="assets/img/logo_small_76x76.png"></span>
        <span>{{'SYSTEM.SHNG_PLG_VERSION'|translate}}:</span>
        <span>{{ systeminfo.plg_vers }}&nbsp;{{ 'SYSTEM.IN'|translate }}&nbsp;{{ systeminfo.sh_dir }}/plugins&nbsp;&nbsp;-&nbsp;&nbsp; {{ systeminfo.plg_desc }}</span>

        <span><img src="assets/img/python.png"></span>
        <span>{{ 'SYSTEM.PYTHON VERSION'|translate }}:</span>
        <span>{{ systeminfo.pyversion }}</span>

        <span><img src="assets/img/terminal-server.svg"></span>
        <span>{{ 'SYSTEM.HOST'|translate }}:</span>
        <span>{{ systeminfo.node }}
          <span *ngIf="systeminfo.ip !== '0.0.0.0'">&nbsp; -&nbsp;&nbsp;IPv4: {{ systeminfo.ip }}</span>
          <span *ngIf="systeminfo.ipv6 !== '::1'">&nbsp; -&nbsp;&nbsp;IPv6: {{ systeminfo.ipv6 }}</span>
        </span>

        <ng-container *ngIf="['linux','debian','raspian','macos','windows'].includes(systeminfo.ostype)">
          <span><img src="assets/img/{{systeminfo.ostype}}.svg"></span>
        </ng-container>
        <ng-container *ngIf="!(['linux','debian','raspian','macos','windows'].includes(systeminfo.ostype))">
          <span><img src="assets/img/os.png"></span>
        </ng-container>
        <span>{{ 'SYSTEM.OS'|translate }}:</span>
        <span>{{ systeminfo.vers }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ 'SYSTEM.ARCHITECTURE'|translate }}:&nbsp;{{ systeminfo.arch }}</span>

        <span><img src="assets/img/tux_hdd.svg"></span>
        <span>{{ 'SYSTEM.PID'|translate }}:</span>
        <span>{{ systeminfo.pid }}</span>

        <span><img src="assets/img/user.svg"></span>
        <span>{{'SYSTEM.USER'|translate}}:</span>
        <span>{{ systeminfo.user }}</span>

        <span><img src="assets/img/hd.svg"></span>
        <span>{{ 'SYSTEM.FREE DISC SPACE'|translate }}:</span>
        <span>{{ (systeminfo.freespace)|number:'1.0-0' }} MByte</span>

        <ng-container *ngIf="systeminfo.hardware">
          <ng-container *ngIf="systeminfo.rasppi">
            <span><img src="assets/img/raspberry_pi.svg"></span>
          </ng-container>
          <ng-container *ngIf="!systeminfo.rasppi">
            <span><img src="assets/img/terminal-server.svg"></span>
          </ng-container>
          <span>{{ 'SYSTEM.HARDWARE'|translate }}:</span>
          <span>{{ systeminfo.hardware }}</span>
        </ng-container>

        <span><img src="assets/img/clock.svg"></span>
        <span>{{ 'SYSTEM.DATE'|translate }} / {{ 'SYSTEM.TIME'|translate }}:</span>
        <span>{{ shared.displayDateTime(systeminfo.now) }}</span>

        <span><img src="assets/img/logo_small_76x76.png"></span>
        <span>{{ 'SYSTEM.UPTIME'|translate }} SmartHomeNG:</span>
        <span>{{ sh_uptime }}</span>

        <span><img src="assets/img/terminal-server.svg"></span>
        <span>{{ 'SYSTEM.UPTIME_HOST'|translate }}:</span>
        <span>{{ os_uptime }}</span>
      </div>
      </div>
    </tab>

    <tab customClass="tab-shng" heading="{{ 'SYSTEM.CHARTS'|translate }}">
      <div class="shngcharts">
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartWorkerThreads [data]="chartdataWorkerThreads" [options]="chartoptionsScheduler"></p-chart>
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartThreads [data]="chartdataThreads" [options]="chartoptionsShng"></p-chart>
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartMemory [data]="chartdataMemory" [options]="chartoptionsShng"></p-chart>
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartSystemload [data]="chartdataLoad" [options]="chartoptionsSystem"></p-chart>
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartSystemMemory [data]="chartdataSystemMemory" [options]="chartoptionsSystem"></p-chart>
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartSystemSwap [data]="chartdataSwap" [options]="chartoptionsSystem"></p-chart>
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartDisk [data]="chartdataDisk" [options]="chartoptionsDisc"></p-chart>
      </div>
    </tab>

    <tab customClass="tab-shng" heading="{{ 'SYSTEM.PYPI CHECK'|translate }}">
      <table id="package_check" class="table table-hover">
        <thead>
        <tr class="shng_heading">
          <th scope="col" style="min-width: 250px; border-top: 0">{{ 'SYSTEM.PYTHON_PACKAGE'|translate }}</th>
          <th scope="col" style="min-width: 150px; border-top: 0">{{ 'SYSTEM.MINIMUM VERSION'|translate }}</th>
          <th scope="col" style="min-width: 150px; border-top: 0; background-color: #f7f7f7;">{{ 'SYSTEM.INSTALLED VERSION'|translate }}</th>
          <th scope="col" style="min-width: 150px; border-top: 0">{{ 'SYSTEM.MAXIMUM VERSION'|translate }}</th>
<!--      <th scope="col" style="width: 25%; border-top: 0">{{ 'SYSTEM.REQUIREMENTS'|translate }}</th> -->
          <th scope="col" style="min-width: 150px; border-top: 0">{{ 'SYSTEM.NEWEST VERSION'|translate }} (PyPI)</th>
        </tr>
        </thead>
        <tbody>

        <ng-container *ngIf="loading">
          <tr><td  colspan="5">
            <p style="padding-top: 100px; text-align: center; font-size: x-large">Loading...</p>
          </td></tr>
        </ng-container>

        <!-- is required (BASE) -->

        <ng-container  *ngFor="let pypipackage of pypiinfo">
          <tr *ngIf="pypipackage.is_required === true">
            <ng-container *ngIf="pypipackage.pypi_doc_url === ''">
              <td class="py-1">{{ pypipackage.name }}</td>
            </ng-container>
            <ng-container *ngIf="pypipackage.pypi_doc_url !== ''">
              <td class="py-1"><a target="_blank" class="text-shng-bold pypi_link" href="{{ pypipackage.pypi_doc_url }}">{{ pypipackage.name }}</a></td>
            </ng-container>
            <td class="py-1">{{ pypipackage.vers_req_min || '*' }}</td>

            <ng-container *ngIf="pypipackage.vers_ok && pypipackage.vers_recent">
              <td class="py-1" style="background-color: #f7f7f7; color: green; font-weight: bold;">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
            </ng-container>
            <ng-container *ngIf="pypipackage.vers_ok && !pypipackage.vers_recent">
              <td class="py-1" style="background-color: #f7f7f7;">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_NOT_RECENT'|translate }}" class="far fa-check-circle"></i></td>
            </ng-container>
            <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed === '-'">
              <td class="py-1" style="background-color: #f7f7f7; color: red; font-weight: bold;">{{ 'SYSTEM.MISSING'|translate }} <i title="{{ 'SYSTEM.VERS_MISSING'|translate }}" class="fa fa-times-circle"></i></td>
            </ng-container>
            <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed !== '-'">
              <td class="py-1" style="background-color: #f7f7f7; color: red;">{{ pypipackage.vers_installed }}</td>
            </ng-container>

            <ng-container *ngIf="pypipackage.pypi_version_ok || pypipackage.vers_recent">
              <td class="py-1">{{ pypipackage.vers_req_max || '*' }}</td>
            </ng-container>
            <ng-container *ngIf="!pypipackage.pypi_version_ok && !pypipackage.vers_recent">
              <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.vers_req_max || '*' }} <i title="{{ 'SYSTEM.VERS_OK_MAX_NOT_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
            </ng-container>
<!--        <td class="py-1">{{ reqinfodisplay[pypipackage.name] }}</td> -->

            <ng-container *ngIf="pypipackage.pypi_version_ok && (pypipackage.vers_recent)">
              <td class="py-1">{{ pypipackage.pypi_version }}</td>
            </ng-container>
            <ng-container *ngIf="pypipackage.pypi_version_ok && !pypipackage.vers_recent">
              <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.pypi_version }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
            </ng-container>
            <ng-container *ngIf="!pypipackage.pypi_version_ok">
              <td class="py-1" style="color: red;">{{ pypipackage.pypi_version || 'SYSTEM.UNKNOWN'|translate }} <i title="{{ 'SYSTEM.VERS_NOT_OK'|translate }}" class="far fa-times-circle"></i></td>
            </ng-container>

          </tr>
        </ng-container>
        </tbody>

<!--
        /* Link package PyPi URL */
        var packageName = element['name'];
        if (element['pypi_doc_url'] != '') {
        packageName = "<a target=\"_blank\" class=\"text-shng pypi_link\" href=\""+element['pypi_doc_url']+"\">"+packageName+"</a>";
        }
-->

        <!-- is required (PLUGINS) -->

        <ng-container *ngIf="plugincount > 0">
          <thead>
          <tr class="shng_heading">
            <th class="py-1" style="background:#eee;" colspan="5">{{ 'SYSTEM.PACKAGES_REQ_PLUGINS'|translate }}</th>
          </tr>
          </thead>
          <tbody>
          <ng-container  *ngFor="let pypipackage of pypiinfo">
            <tr *ngIf="pypipackage.is_required_for_plugins === true">
              <ng-container *ngIf="pypipackage.pypi_doc_url === ''">
                <td class="py-1">{{ pypipackage.name }}</td>
              </ng-container>
              <ng-container *ngIf="pypipackage.pypi_doc_url !== ''">
                <td class="py-1"><a target="_blank" class="text-shng pypi_link" href="{{ pypipackage.pypi_doc_url }}">{{ pypipackage.name }}</a></td>
              </ng-container>
              <td class="py-1">{{ pypipackage.vers_req_min || '*' }}</td>

              <ng-container *ngIf="pypipackage.vers_ok && pypipackage.vers_recent">
                <td class="py-1" style="background-color: #f7f7f7; color: green; font-weight: bold;">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="pypipackage.vers_ok && !pypipackage.vers_recent">
                <td class="py-1" style="background-color: #f7f7f7;">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_NOT_RECENT'|translate }}" class="far fa-check-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed === '-'">
                <td class="py-1" style="background-color: #f7f7f7; color: red; font-weight: bold;">{{ 'SYSTEM.MISSING'|translate }} <i title="{{ 'SYSTEM.VERS_MISSING'|translate }}" class="fa fa-times-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed !== '-'">
                <td class="py-1" style="background-color: #f7f7f7; color: red;">{{ pypipackage.vers_installed }}</td>
              </ng-container>

              <ng-container *ngIf="pypipackage.pypi_version_ok || pypipackage.vers_recent">
                <td class="py-1">{{ pypipackage.vers_req_max || '*' }}</td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.pypi_version_ok && !pypipackage.vers_recent">
                <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.vers_req_max || '*' }} <i title="{{ 'SYSTEM.VERS_OK_MAX_NOT_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
              </ng-container>
              <!--        <td class="py-1">{{ reqinfodisplay[pypipackage.name] }}</td> -->

              <ng-container *ngIf="pypipackage.pypi_version_ok && (pypipackage.vers_recent)">
                <td class="py-1">{{ pypipackage.pypi_version }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="far fa-check-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="pypipackage.pypi_version_ok && !pypipackage.vers_recent">
                <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.pypi_version }}</td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.pypi_version_ok">
                <td class="py-1" style="color: red;">{{ pypipackage.pypi_version || 'SYSTEM.UNKNOWN'|translate }} <i title="{{ 'SYSTEM.VERS_NOT_OK'|translate }}" class="far fa-times-circle"></i></td>
              </ng-container>

            </tr>
          </ng-container>
          </tbody>
        </ng-container>

        <!-- is required (DOCUMENTAION) -->

        <ng-container *ngIf="documentationcount > 0">
          <thead>
            <tr class="shng_heading">
              <th class="py-1" style="background:#eee;" colspan="5">{{ 'SYSTEM.PACKAGES_REQ_DOCUMENTATION'|translate }}</th>
            </tr>
          </thead>
          <tbody>
          <ng-container  *ngFor="let pypipackage of pypiinfo">
            <tr *ngIf="pypipackage.is_required_for_docbuild === true">
              <ng-container *ngIf="pypipackage.pypi_doc_url === ''">
                <td class="py-1">{{ pypipackage.name }}</td>
              </ng-container>
              <ng-container *ngIf="pypipackage.pypi_doc_url !== ''">
                <td class="py-1"><a target="_blank" class="text-shng pypi_link" href="{{ pypipackage.pypi_doc_url }}">{{ pypipackage.name }}</a></td>
              </ng-container>
              <td class="py-1">{{ pypipackage.vers_req_min || '*' }}</td>

              <ng-container *ngIf="pypipackage.vers_ok && pypipackage.vers_recent">
                <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="pypipackage.vers_ok && !pypipackage.vers_recent">
                <td class="py-1">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_NOT_RECENT'|translate }}" class="far fa-check-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed === '-'">
                <td class="py-1" style="color: red; font-weight: bold;">{{ 'SYSTEM.MISSING'|translate }} <i title="{{ 'SYSTEM.VERS_MISSING'|translate }}" class="fa fa-times-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed !== '-'">
                <td class="py-1" style="color: red;">{{ pypipackage.vers_installed }}</td>
              </ng-container>

              <ng-container *ngIf="pypipackage.pypi_version_ok || pypipackage.vers_recent">
                <td class="py-1">{{ pypipackage.vers_req_max || '*' }}</td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.pypi_version_ok && !pypipackage.vers_recent">
                <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.vers_req_max || '*' }} <i title="{{ 'SYSTEM.VERS_OK_MAX_NOT_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
              </ng-container>
              <!--        <td class="py-1">{{ reqinfodisplay[pypipackage.name] }}</td> -->

              <ng-container *ngIf="pypipackage.pypi_version_ok && (pypipackage.vers_recent)">
                <td class="py-1">{{ pypipackage.pypi_version }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="far fa-check-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="pypipackage.pypi_version_ok && !pypipackage.vers_recent">
                <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.pypi_version }}</td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.pypi_version_ok">
                <td class="py-1" style="color: red;">{{ pypipackage.pypi_version || 'SYSTEM.UNKNOWN'|translate }} <i title="{{ 'SYSTEM.VERS_NOT_OK'|translate }}" class="far fa-times-circle"></i></td>
              </ng-container>

            </tr>
        </ng-container>
        </tbody>
        </ng-container>

        <!-- is required (TESTSUITE) -->

        <ng-container *ngIf="testsuitecount > 0">
          <thead>
          <tr class="shng_heading">
            <th class="py-1" style="background:#eee;" colspan="5">{{ 'SYSTEM.PACKAGES_REQ_TESTSUITE'|translate }}</th>
          </tr>
          </thead>
          <tbody>
            <ng-container  *ngFor="let pypipackage of pypiinfo">
              <tr *ngIf="pypipackage.is_required_for_testsuite === true">
                <ng-container *ngIf="pypipackage.pypi_doc_url === ''">
                  <td class="py-1">{{ pypipackage.name }}</td>
                </ng-container>
                <ng-container *ngIf="pypipackage.pypi_doc_url !== ''">
                  <td class="py-1"><a target="_blank" class="text-shng pypi_link" href="{{ pypipackage.pypi_doc_url }}">{{ pypipackage.name }}</a></td>
                </ng-container>
                <td class="py-1">{{ pypipackage.vers_req_min || '*' }}</td>

                <ng-container *ngIf="pypipackage.vers_ok && pypipackage.vers_recent">
                  <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
                </ng-container>
                <ng-container *ngIf="pypipackage.vers_ok && !pypipackage.vers_recent">
                  <td class="py-1">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_NOT_RECENT'|translate }}" class="far fa-check-circle"></i></td>
                </ng-container>
                <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed === '-'">
                  <td class="py-1" style="color: red; font-weight: bold;">{{ 'SYSTEM.MISSING'|translate }} <i title="{{ 'SYSTEM.VERS_MISSING'|translate }}" class="fa fa-times-circle"></i></td>
                </ng-container>
                <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed !== '-'">
                  <td class="py-1" style="color: red;">{{ pypipackage.vers_installed }}</td>
                </ng-container>

                <ng-container *ngIf="pypipackage.pypi_version_ok || pypipackage.vers_recent">
                  <td class="py-1">{{ pypipackage.vers_req_max || '*' }}</td>
                </ng-container>
                <ng-container *ngIf="!pypipackage.pypi_version_ok && !pypipackage.vers_recent">
                  <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.vers_req_max || '*' }} <i title="{{ 'SYSTEM.VERS_OK_MAX_NOT_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
                </ng-container>
                <!--        <td class="py-1">{{ reqinfodisplay[pypipackage.name] }}</td> -->

                <ng-container *ngIf="pypipackage.pypi_version_ok && (pypipackage.vers_recent)">
                  <td class="py-1">{{ pypipackage.pypi_version }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="far fa-check-circle"></i></td>
                </ng-container>
                <ng-container *ngIf="pypipackage.pypi_version_ok && !pypipackage.vers_recent">
                  <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.pypi_version }}</td>
                </ng-container>
                <ng-container *ngIf="!pypipackage.pypi_version_ok">
                  <td class="py-1" style="color: red;">{{ pypipackage.pypi_version || 'SYSTEM.UNKNOWN'|translate }} <i title="{{ 'SYSTEM.VERS_NOT_OK'|translate }}" class="far fa-times-circle"></i></td>
                </ng-container>

              </tr>
            </ng-container>
          </tbody>
        </ng-container>

        <!-- is NOT required -->

        <ng-container *ngIf="norequirementcount > 0">
          <thead>
          <tr class="shng_heading">
            <th class="py-1" style="background:#eee;" colspan="5">{{ 'SYSTEM.PACKAGES_WO_REQ'|translate }}</th>
          </tr>
          </thead>
          <tbody>
          <ng-container  *ngFor="let pypipackage of pypiinfo">
            <tr *ngIf="pypipackage.is_required === false && pypipackage.is_required_for_plugins === false && pypipackage.is_required_for_docbuild === false && pypipackage.is_required_for_testsuite === false">
              <ng-container *ngIf="pypipackage.pypi_doc_url === ''">
                <td class="py-1">{{ pypipackage.name }}</td>
              </ng-container>
              <ng-container *ngIf="pypipackage.pypi_doc_url !== ''">
                <td class="py-1"><a target="_blank" class="text-shng pypi_link" href="{{ pypipackage.pypi_doc_url }}">{{ pypipackage.name }}</a></td>
              </ng-container>
              <td class="py-1">{{ pypipackage.vers_req_min || '-' }}</td>

              <td class="py-1">{{ pypipackage.vers_installed }}</td>

              <td class="py-1">{{ pypipackage.vers_req_max || '-' }}</td>
<!--          <td class="py-1">{{ reqinfodisplay[pypipackage.name] }}</td> -->
              <td class="py-1">{{ pypipackage.pypi_version }}</td>
            </tr>
          </ng-container>
          </tbody>
        </ng-container>
      </table>

      <!--
            if (element['is_required_for_testsuite']) {
            <tr class=\"shng_heading\"><td class=\"py-1\" style=\"background:#eee;\" colspan=\"5\">{{ _('Pakete für die Testsuite') }}</td></tr>");
            } else if (element['is_required_for_docbuild']) {
            <tr class=\"shng_heading\"><td class=\"py-1\" style=\"background:#eee;\" colspan=\"5\">{{ _('Pakete für den Bau der Dokumentation') }}</td></tr>");
            } else {
            <tr class=\"shng_heading\"><td class=\"py-1\" style=\"background:#eee;\" colspan=\"5\">{{ _('Pakete ohne Requirements') }}</td></tr>");
            }
      -->
    </tab>

    <tab customClass="tab-shng" heading="{{ 'SYSTEM.DISCLOSURES'|translate }}">
      <div class="container-fluid navBorder" style="overflow: hidden; border-top: 0;">

        <div class="row">
          <div class="col" style="max-width: 100%;">
            <div class="card">
              <div class="card-body p-1">
                <div id="disclosuretext" style="overflow-y: scroll; white-space: pre-wrap;">


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
</div>

<!--
<div class="container-fluid navBorder" style="margin-top: 5px;">
  <ul id="system_tabs" class="nav nav-tabs">
    <li class="nav-item"><a class="text-dark nav-link active" data-toggle="tab" href="system/systemproperties" translate>SYSTEM.SYSTEMINFO</a></li>
    <li id="tab_pypi" class="nav-item">
      <a id="tab_pypi_link" class="nav-link disabled" data-toggle="tab" href="#pypi">
        {{'SYSTEM.PYPI CHECK'|translate}}
        <i id="spinner" class="fas fa-circle-notch fa-spin fa-fw"></i>
      </a>
    </li>
  </ul>
</div>
-->
<!--
<!DOCTYPE html>
{% with active_page="system" %}

{% block title %}
{{ _('Systeminfo', 'menu') }} - SmartHomeNG
{% endblock title %}

{% block content %}
<div class="container-fluid navBorder">
  <ul id="system_tabs" class="nav nav-tabs">
    <li class="nav-item"><a class="text-dark nav-link active" data-toggle="tab" href="#systemproperties">{{ _('Systemeigenschaften') }}</a></li>
    <li id="tab_pypi" class="nav-item">
      <a id="tab_pypi_link" class="nav-link disabled" data-toggle="tab" href="#pypi">
        {{ _('PyPI Check') }}
        <i id="spinner" class="fas fa-circle-notch fa-spin fa-fw"></i>
      </a>
    </li>
  </ul>
</div>
<div style="margin-left: 10px; margin-right: 10px;" class="tab-content">
  <div id="pypi" class="tab-pane" role="tabpanel">
    <div class="table-responsive" >
      <table id="package_check" class="table table-hover">
        <thead>
        <tr class="shng_heading">
          <th scope="col" style="width: 25%;">Python Package</th>
          <th scope="col" style="width: 25%;">{{ _('installierte Version') }}</th>
          <th scope="col" style="width: 25%;">{{ _('Anforderungen') }}</th>
          <th scope="col" style="width: 25%;">{{ _('Neuste Version') }} (PyPI)</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  $(".disabled").click(function (e) {
    e.preventDefault();
    return false;
  });

  function activateTab(selector) {
    $(selector).on('click.twbstab',function() { $(this).tab('show'); })
      .closest('.disabled').removeClass('disabled');
  }

  $.getJSON('pypi.json', function(result) {
    $.each(result, function(index, element) {
      if (index == 0) {
        oldSort = element['sort'].substr(0,1);
        newSort = element['sort'].substr(0,1);
      } else {
        oldSort = newSort;
        newSort = newSort = element['sort'].substr(0,1);
      }
      if (oldSort != newSort) {
        if (element['is_required_for_testsuite']) {
          $('#package_check').find("tbody").append("<tr class=\"shng_heading\"><td class=\"py-1\" style=\"background:#eee;\" colspan=\"5\">{{ _('Pakete für die Testsuite') }}</td></tr>");
        } else if (element['is_required_for_docbuild']) {
          $('#package_check').find("tbody").append("<tr class=\"shng_heading\"><td class=\"py-1\" style=\"background:#eee;\" colspan=\"5\">{{ _('Pakete für den Bau der Dokumentation') }}</td></tr>");
        } else {
          $('#package_check').find("tbody").append("<tr class=\"shng_heading\"><td class=\"py-1\" style=\"background:#eee;\" colspan=\"5\">{{ _('Pakete ohne Requirements') }}</td></tr>");
        }
      }


      fontWeight = '';
      if (element['is_required']) {
        fontWeight = "font-weight: bold;";
      }

      var fontColorPyPi = "black";
      var fontColorInstalled = "";
      var versionInstalledIcon = "";
      var versionInstalledText = "{{ _('Version nicht zulässig!') }}";

      /* color codes and icons */
      if (element['is_required'] || element['is_required_for_docbuild'] || element['is_required_for_testsuite'] ) {
        if (element['vers_ok']) {
          versionInstalledIcon = "fa-check-square";
          versionInstalledText = "{{ _('Version unterstützt!') }}";
          if (element['vers_recent']) {
            fontColorInstalled = "green";
            if (element['pypi_version_ok']) {
              fontColorPyPi = "black";
            } else {
              fontColorPyPi = "red";
            }
          } else {
            fontColorInstalled = "black";
            fontColorPyPi = "green";
          }
        } else {
          fontColorInstalled = "red";
          if (!element['pypi_version_ok']) {
            fontColorPyPi = "red";
          }
          var versionInstalledIcon = "fa-times-circle";
        }
      } else {
        fontColorPyPi = "black";
        if (element['vers_recent']) {
          fontColorInstalled = "green";
        } else {
          fontColorInstalled = "black";
        }
      }

      /* Build String for requirements column */
      var reqString = '';
      var reqTextString = '';
      /* MIN and MAX filled, MIN != MAX */
      if (element['is_required'] || element['is_required_for_docbuild'] || element['is_required_for_testsuite'] ) {
        if (element['vers_req_min'] != '' && element['vers_req_max'] != '' && (element['vers_req_min'] != element['vers_req_max'])) {
          reqString += element['vers_req_min']+" <= <i class=\"far "+versionInstalledIcon+"\" title=\"{{ _('installierte Version') }}\"></i>"
          if (reqString == "") {
            reqString += "<i class=\"far "+versionInstalledIcon+"\" title=\""+versionInstalledText+"\" style=\"color: "+fontColorInstalled+"\"></i>";
          }
          reqString += " <= "+element['vers_req_max'];
        }
        /* ELSE: MIN and MAX filled, MIN == MAX */
        else if (element['vers_req_min'] != '' && element['vers_req_max'] != '' && (element['vers_req_min'] == element['vers_req_max'])) {
          reqString += "<i class=\"far "+versionInstalledIcon+"\" title=\""+versionInstalledText+"\"></i> == "+element['vers_req_min'];
        }
        /* ELSE: MIN or MAX filled */
        else {
          if (element['vers_req_min'] != '') {
            reqString += "<i class=\"far "+versionInstalledIcon+"\" title=\""+versionInstalledText+"\"></i> "+" >= "+element['vers_req_min'];
          } else if (element['vers_req_max'] != '') {
            reqString += "<i class=\"far "+versionInstalledIcon+"\" title=\""+versionInstalledText+"\"></i> "+"<= "+element['vers_req_max'];
          }
        }
        /* Element required due to Doku, Testsuite or SmartHomeNG in general, but no MIN and MAX version -> all versions valid */
        if (reqString == '') {
          reqString = "<i class=\"far "+versionInstalledIcon+"\" title=\""+versionInstalledText+"\"></i> == *";
        }
        if (element['vers_req_source'] != '') {
          reqTextString = element['vers_req_source'];
        } else {
          reqTextString = "";
        }
      }
      /* Element not required, requirements unclear, set "-" */
      else {
        reqString = "-"
      }

      /* If there is detailed content, set folding layout */
      var foldingElement = '';
      var foldingStyle = '';
      if (reqTextString != '') {
        foldingStyle = "cursor: pointer;";
      }

      /* Link package PyPi URL */
      var packageName = element['name'];
      if (element['pypi_doc_url'] != '') {
        packageName = "<a target=\"_blank\" class=\"text-shng pypi_link\" href=\""+element['pypi_doc_url']+"\">"+packageName+"</a>";
      }

      /* Build row for normal content */
      var table_row = '';
      table_row =  "<tr style=\""+foldingStyle+"\" id=\""+index+"_unfold"+"\">"+
        "<td class=\"py-1\" style=\""+fontWeight+"\">"+packageName+"</td>"+
        "<td class=\"py-1\" style=\"color: "+fontColorInstalled+"\">"+element['vers_installed']+"</td>"+
        "<td class=\"py-1\">"+reqString+"</td>"+
        "<td class=\"py-1\" style=\"color: "+fontColorPyPi+"\">"+element['pypi_version'];

      /* Checks for icon next to PyPi Version */
      if (element['vers_recent'] != true && element['pypi_version_ok']) {
        if ((element['pypi_version'] != '') && (element['pypi_version'] != element['vers_installed'])) {
          /* Element not required? Don't set that the PyPi version is supported */
          if (!element['is_required'] && !element['is_required_for_docbuild'] && !element['is_required_for_testsuite'] ) {
            table_row += "&nbsp;<i class=\"fas fa-info-circle\" title=\"{{ _('Neuste Version!') }}\"></i>";
          } else {
            table_row += "&nbsp;<i class=\"fas fa-check-circle\" title=\"{{ _('Version unterstützt!') }}\"></i>";
          }
        }
      } else if (element['pypi_version'] != '-' && !element['pypi_version_ok']) {
        table_row += "&nbsp;<i class=\"fas fa-exclamation-circle\" title=\"{{ _('Version nicht zulässig!') }}\"></i>";
      }

      /* Close table row */
      table_row += "</td></tr>"

      /* Build row for foldable content */
      var table_row_requirements_detail = '';
      if (reqTextString != '') {
        table_row_requirements_detail =
          "<tr id=\""+index+"_requirements_detail\" "+
          "style=\"display: none; "+foldingStyle+"\">";
        table_row_requirements_detail +=
          "<td class=\"py-1\" colspan=\"4\">";
        table_row_requirements_detail +=
          "<div class=\"panel panel-default\" style=\"margin-bottom: 5px;\">"+
          "<div class=\"panel-heading\">{{ _('Anforderungen') }} (requirements.txt)</div>"+
          "<div class=\"panel-body\">"+reqTextString+"</div></div>";
        table_row_requirements_detail +=
          "</td></tr>";
      }

      /* Append assembled content */
      $('#package_check').find("tbody").append(table_row + table_row_requirements_detail);

      /* If foldable content: add onclick for table row, stop unfolding when clicking pypi link inside. */
      if (reqTextString != '') {
        $('#'+index+'_unfold').click(function(){
          $('#'+index+'_requirements_detail').toggle();
        });
        $('#'+index+'_requirements_detail').click(function(){
          $('#'+index+'_requirements_detail').toggle();
        });
        $('#'+index+'_unfold .pypi_link').click(function(e){
          e.stopPropagation();
        });
      }
    });

    /* Hide spinner, activate tab, show DIV with content */
    $('#spinner').hide();
    $('#tab_pypi_link').addClass("text-dark");
    $('#tab_pypi').removeClass("disabled");
    activateTab('#system_tabs a[href="#pypi"]');
  });
</script>
{% endblock %}
-->
