::ng-deep .tab-shng > a{
  border-bottom: none !important;
  outline: 0 !important;
  color:rgb(160, 160, 160);
}


.shngcharts {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;

  justify-items: center;

  background-color: #eeeeee;
}
