
<div class="shngbody">
<div>
  <tabset #staticTabs>
    <tab customClass="tab-shng" heading="{{ 'SYSTEM.SYSTEMINFO'|translate }}">
      <div class="shngtabbody">
      <div class="shngsysinfo">
        <span></span>
        <span><strong>{{ 'SYSTEM.PROPERTY'|translate }}</strong></span>
        <span><strong>{{ 'SYSTEM.STATE'|translate }}</strong></span>

        <span><img src="assets/img/logo_small_76x76.png"></span>
        <span>{{'SYSTEM.SHNG_VERSION'|translate}}:</span>
        <span>{{ systeminfo.sh_vers }} &nbsp; {{ 'SYSTEM.IN'|translate }} &nbsp; {{ systeminfo.sh_dir }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ({{ systeminfo.sh_desc }})</span>

        <span><img src="assets/img/logo_small_76x76.png"></span>
        <span>{{'SYSTEM.SHNG_PLG_VERSION'|translate}}:</span>
        <span>{{ systeminfo.plg_vers }} &nbsp; {{ 'SYSTEM.IN'|translate }} &nbsp; {{ systeminfo.sh_dir }}/plugins &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ({{ systeminfo.plg_desc }})</span>

        <span><img src="assets/img/python.png"></span>
        <span>{{ 'SYSTEM.PYTHON VERSION'|translate }}:</span>
        <span>{{ systeminfo.pyversion }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ({{ systeminfo.pypath }})</span>

        <span><img src="assets/img/terminal-server.svg"></span>
        <span>{{ 'SYSTEM.HOST'|translate }}:</span>
        <span>{{ systeminfo.node }}
          <span *ngIf="systeminfo.ip !== '0.0.0.0'"> &nbsp; &nbsp; - &nbsp; &nbsp; IPv4: {{ systeminfo.ip }}</span>
          <span *ngIf="systeminfo.ipv6 !== '::1'"> &nbsp; &nbsp; - &nbsp; &nbsp; IPv6: {{ systeminfo.ipv6 }}</span>
        </span>

        <ng-container *ngIf="['linux','debian','raspbian','macos','windows'].includes(systeminfo.ostype)">
          <span><img src="assets/img/{{systeminfo.ostype}}.svg"></span>
        </ng-container>
        <ng-container *ngIf="!(['linux','debian','raspbian','macos','windows'].includes(systeminfo.ostype))">
          <span><img src="assets/img/os.png"></span>
        </ng-container>
        <span>{{ 'SYSTEM.OS'|translate }}:</span>
        <!--
        <span>{{ systeminfo.vers }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ 'SYSTEM.ARCHITECTURE'|translate }}:&nbsp;{{ systeminfo.arch }}</span>
        -->
        <span>{{ systeminfo.vers }}</span>

        <span><img src="assets/img/tux_hdd.svg"></span>
        <span>{{ 'SYSTEM.PID'|translate }}:</span>
        <span>{{ systeminfo.pid }}</span>

        <span><img src="assets/img/user.svg"></span>
        <span>{{'SYSTEM.USER'|translate}}:</span>
        <span>{{ systeminfo.user }}</span>

        <span><img src="assets/img/hd.svg"></span>
        <span>{{ 'SYSTEM.FREE DISC SPACE'|translate }}:</span>
        <span>{{ (systeminfo.freespace)|number:'1.0-0' }} MByte</span>

        <ng-container *ngIf="systeminfo.hardware">
          <ng-container *ngIf="systeminfo.rasppi">
            <span><img src="assets/img/raspberry_pi.svg"></span>
          </ng-container>
          <ng-container *ngIf="!systeminfo.rasppi">
            <span><img src="assets/img/terminal-server.svg"></span>
          </ng-container>
          <span>{{ 'SYSTEM.HARDWARE'|translate }}:</span>
          <span>{{ systeminfo.hardware }}</span>
        </ng-container>

        <span><img src="assets/img/clock.svg"></span>
        <span>{{ 'SYSTEM.DATE'|translate }} / {{ 'SYSTEM.TIME'|translate }}:</span>
        <span>{{ shared.displayDateTime(systeminfo.now) }}</span>

        <span><img src="assets/img/logo_small_76x76.png"></span>
        <span>{{ 'SYSTEM.UPTIME'|translate }} SmartHomeNG:</span>
        <span>{{ sh_uptime }}</span>

        <span><img src="assets/img/terminal-server.svg"></span>
        <span>{{ 'SYSTEM.UPTIME_HOST'|translate }}:</span>
        <span>{{ os_uptime }}</span>
      </div>
      </div>
    </tab>

    <tab customClass="tab-shng" heading="{{ 'SYSTEM.CHARTS'|translate }}">
      <div class="shngcharts">
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartWorkerThreads [data]="chartdataWorkerThreads" [options]="chartoptionsScheduler"></p-chart>
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartThreads [data]="chartdataThreads" [options]="chartoptionsShng"></p-chart>
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartMemory [data]="chartdataMemory" [options]="chartoptionsShng"></p-chart>
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartSystemload [data]="chartdataLoad" [options]="chartoptionsSystem"></p-chart>
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartSystemMemory [data]="chartdataSystemMemory" [options]="chartoptionsSystem"></p-chart>
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartSystemSwap [data]="chartdataSwap" [options]="chartoptionsSystem"></p-chart>
        <p-chart type="line" width="360px" height="280px" (click)="drawCharts()" #chartDisk [data]="chartdataDisk" [options]="chartoptionsDisc"></p-chart>
      </div>
    </tab>

    <tab customClass="tab-shng" heading="{{ 'SYSTEM.PYPI CHECK'|translate }}">
      <table id="package_check" class="table table-hover">
        <thead>
        <tr class="shng_heading">
          <th scope="col" style="min-width: 250px; border-top: 0">{{ 'SYSTEM.PYTHON_PACKAGE'|translate }}</th>
          <th scope="col" style="min-width: 150px; border-top: 0">{{ 'SYSTEM.MINIMUM VERSION'|translate }}</th>
          <th scope="col" style="min-width: 150px; border-top: 0; background-color: #f7f7f7;">{{ 'SYSTEM.INSTALLED VERSION'|translate }}</th>
          <th scope="col" style="min-width: 150px; border-top: 0">{{ 'SYSTEM.MAXIMUM VERSION'|translate }}</th>
<!--      <th scope="col" style="width: 25%; border-top: 0">{{ 'SYSTEM.REQUIREMENTS'|translate }}</th> -->
          <th scope="col" style="min-width: 150px; border-top: 0">{{ 'SYSTEM.NEWEST VERSION'|translate }} (PyPI)</th>
        </tr>
        </thead>
        <tbody>

        <ng-container *ngIf="loading">
          <tr><td  colspan="5">
            <p style="padding-top: 100px; text-align: center; font-size: x-large">Loading...</p>
          </td></tr>
        </ng-container>

        <!-- is required (BASE) -->

        <ng-container  *ngFor="let pypipackage of pypiinfo">
          <tr *ngIf="pypipackage.is_required === true">
            <ng-container *ngIf="pypipackage.pypi_doc_url === ''">
              <td class="py-1">{{ pypipackage.name }}</td>
            </ng-container>
            <ng-container *ngIf="pypipackage.pypi_doc_url !== ''">
              <td class="py-1"><a target="_blank" class="text-shng-bold pypi_link" href="{{ pypipackage.pypi_doc_url }}">{{ pypipackage.name }}</a></td>
            </ng-container>
            <td class="py-1">{{ pypipackage.vers_req_min || '*' }}</td>

            <ng-container *ngIf="pypipackage.vers_ok && pypipackage.vers_recent">
              <td class="py-1" style="background-color: #f7f7f7; color: green; font-weight: bold;">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
            </ng-container>
            <ng-container *ngIf="pypipackage.vers_ok && !pypipackage.vers_recent">
              <td class="py-1" style="background-color: #f7f7f7;">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_NOT_RECENT'|translate }}" class="far fa-check-circle"></i></td>
            </ng-container>
            <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed === '-'">
              <td class="py-1" style="background-color: #f7f7f7; color: red; font-weight: bold;">{{ 'SYSTEM.MISSING'|translate }} <i title="{{ 'SYSTEM.VERS_MISSING'|translate }}" class="fa fa-times-circle"></i></td>
            </ng-container>
            <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed !== '-'">
              <td class="py-1" style="background-color: #f7f7f7; color: red;">{{ pypipackage.vers_installed }}</td>
            </ng-container>

            <ng-container *ngIf="pypipackage.pypi_version_ok || pypipackage.vers_recent">
              <td class="py-1">{{ pypipackage.vers_req_max || '*' }}</td>
            </ng-container>
            <ng-container *ngIf="!pypipackage.pypi_version_ok && !pypipackage.vers_recent">
              <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.vers_req_max || '*' }} <i title="{{ 'SYSTEM.VERS_OK_MAX_NOT_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
            </ng-container>
<!--        <td class="py-1">{{ reqinfodisplay[pypipackage.name] }}</td> -->

            <ng-container *ngIf="pypipackage.pypi_version_ok && (pypipackage.vers_recent)">
              <td class="py-1">{{ pypipackage.pypi_version }}</td>
            </ng-container>
            <ng-container *ngIf="pypipackage.pypi_version_ok && !pypipackage.vers_recent">
              <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.pypi_version }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
            </ng-container>
            <ng-container *ngIf="!pypipackage.pypi_version_ok">
              <td class="py-1" style="color: red;">{{ pypipackage.pypi_version || 'SYSTEM.UNKNOWN'|translate }} <i title="{{ 'SYSTEM.VERS_NOT_OK'|translate }}" class="far fa-times-circle"></i></td>
            </ng-container>

          </tr>
        </ng-container>
        </tbody>

<!--
        /* Link package PyPi URL */
        var packageName = element['name'];
        if (element['pypi_doc_url'] != '') {
        packageName = "<a target=\"_blank\" class=\"text-shng pypi_link\" href=\""+element['pypi_doc_url']+"\">"+packageName+"</a>";
        }
-->

        <!-- is required (PLUGINS) -->

        <ng-container *ngIf="plugincount > 0">
          <thead>
          <tr class="shng_heading">
            <th class="py-1" style="background:#eee;" colspan="5">{{ 'SYSTEM.PACKAGES_REQ_PLUGINS'|translate }}</th>
          </tr>
          </thead>
          <tbody>
          <ng-container  *ngFor="let pypipackage of pypiinfo">
            <tr *ngIf="pypipackage.is_required_for_plugins === true">
              <ng-container *ngIf="pypipackage.pypi_doc_url === ''">
                <td class="py-1">{{ pypipackage.name }}</td>
              </ng-container>
              <ng-container *ngIf="pypipackage.pypi_doc_url !== ''">
                <td class="py-1"><a target="_blank" class="text-shng pypi_link" href="{{ pypipackage.pypi_doc_url }}">{{ pypipackage.name }}</a></td>
              </ng-container>
              <td class="py-1">{{ pypipackage.vers_req_min || '*' }}</td>

              <ng-container *ngIf="pypipackage.vers_ok && pypipackage.vers_recent">
                <td class="py-1" style="background-color: #f7f7f7; color: green; font-weight: bold;">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="pypipackage.vers_ok && !pypipackage.vers_recent">
                <td class="py-1" style="background-color: #f7f7f7;">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_NOT_RECENT'|translate }}" class="far fa-check-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed === '-'">
                <td class="py-1" style="background-color: #f7f7f7; color: red; font-weight: bold;">{{ 'SYSTEM.MISSING'|translate }} <i title="{{ 'SYSTEM.VERS_MISSING'|translate }}" class="fa fa-times-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed !== '-'">
                <td class="py-1" style="background-color: #f7f7f7; color: red;">{{ pypipackage.vers_installed }}</td>
              </ng-container>

              <ng-container *ngIf="pypipackage.pypi_version_ok || pypipackage.vers_recent">
                <td class="py-1">{{ pypipackage.vers_req_max || '*' }}</td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.pypi_version_ok && !pypipackage.vers_recent">
                <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.vers_req_max || '*' }} <i title="{{ 'SYSTEM.VERS_OK_MAX_NOT_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
              </ng-container>
              <!--        <td class="py-1">{{ reqinfodisplay[pypipackage.name] }}</td> -->

              <ng-container *ngIf="pypipackage.pypi_version_ok && (pypipackage.vers_recent)">
                <td class="py-1">{{ pypipackage.pypi_version }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="far fa-check-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="pypipackage.pypi_version_ok && !pypipackage.vers_recent">
                <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.pypi_version }}</td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.pypi_version_ok">
                <td class="py-1" style="color: red;">{{ pypipackage.pypi_version || 'SYSTEM.UNKNOWN'|translate }} <i title="{{ 'SYSTEM.VERS_NOT_OK'|translate }}" class="far fa-times-circle"></i></td>
              </ng-container>

            </tr>
          </ng-container>
          </tbody>
        </ng-container>

        <!-- is required (DOCUMENTAION) -->

        <ng-container *ngIf="documentationcount > 0">
          <thead>
            <tr class="shng_heading">
              <th class="py-1" style="background:#eee;" colspan="5">{{ 'SYSTEM.PACKAGES_REQ_DOCUMENTATION'|translate }}</th>
            </tr>
          </thead>
          <tbody>
          <ng-container  *ngFor="let pypipackage of pypiinfo">
            <tr *ngIf="pypipackage.is_required_for_docbuild === true">
              <ng-container *ngIf="pypipackage.pypi_doc_url === ''">
                <td class="py-1">{{ pypipackage.name }}</td>
              </ng-container>
              <ng-container *ngIf="pypipackage.pypi_doc_url !== ''">
                <td class="py-1"><a target="_blank" class="text-shng pypi_link" href="{{ pypipackage.pypi_doc_url }}">{{ pypipackage.name }}</a></td>
              </ng-container>
              <td class="py-1">{{ pypipackage.vers_req_min || '*' }}</td>

              <ng-container *ngIf="pypipackage.vers_ok && pypipackage.vers_recent">
                <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="pypipackage.vers_ok && !pypipackage.vers_recent">
                <td class="py-1">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_NOT_RECENT'|translate }}" class="far fa-check-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed === '-'">
                <td class="py-1" style="color: red; font-weight: bold;">{{ 'SYSTEM.MISSING'|translate }} <i title="{{ 'SYSTEM.VERS_MISSING'|translate }}" class="fa fa-times-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed !== '-'">
                <td class="py-1" style="color: red;">{{ pypipackage.vers_installed }}</td>
              </ng-container>

              <ng-container *ngIf="pypipackage.pypi_version_ok || pypipackage.vers_recent">
                <td class="py-1">{{ pypipackage.vers_req_max || '*' }}</td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.pypi_version_ok && !pypipackage.vers_recent">
                <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.vers_req_max || '*' }} <i title="{{ 'SYSTEM.VERS_OK_MAX_NOT_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
              </ng-container>
              <!--        <td class="py-1">{{ reqinfodisplay[pypipackage.name] }}</td> -->

              <ng-container *ngIf="pypipackage.pypi_version_ok && (pypipackage.vers_recent)">
                <td class="py-1">{{ pypipackage.pypi_version }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="far fa-check-circle"></i></td>
              </ng-container>
              <ng-container *ngIf="pypipackage.pypi_version_ok && !pypipackage.vers_recent">
                <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.pypi_version }}</td>
              </ng-container>
              <ng-container *ngIf="!pypipackage.pypi_version_ok">
                <td class="py-1" style="color: red;">{{ pypipackage.pypi_version || 'SYSTEM.UNKNOWN'|translate }} <i title="{{ 'SYSTEM.VERS_NOT_OK'|translate }}" class="far fa-times-circle"></i></td>
              </ng-container>

            </tr>
        </ng-container>
        </tbody>
        </ng-container>

        <!-- is required (TESTSUITE) -->

        <ng-container *ngIf="testsuitecount > 0">
          <thead>
          <tr class="shng_heading">
            <th class="py-1" style="background:#eee;" colspan="5">{{ 'SYSTEM.PACKAGES_REQ_TESTSUITE'|translate }}</th>
          </tr>
          </thead>
          <tbody>
            <ng-container  *ngFor="let pypipackage of pypiinfo">
              <tr *ngIf="pypipackage.is_required_for_testsuite === true">
                <ng-container *ngIf="pypipackage.pypi_doc_url === ''">
                  <td class="py-1">{{ pypipackage.name }}</td>
                </ng-container>
                <ng-container *ngIf="pypipackage.pypi_doc_url !== ''">
                  <td class="py-1"><a target="_blank" class="text-shng pypi_link" href="{{ pypipackage.pypi_doc_url }}">{{ pypipackage.name }}</a></td>
                </ng-container>
                <td class="py-1">{{ pypipackage.vers_req_min || '*' }}</td>

                <ng-container *ngIf="pypipackage.vers_ok && pypipackage.vers_recent">
                  <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
                </ng-container>
                <ng-container *ngIf="pypipackage.vers_ok && !pypipackage.vers_recent">
                  <td class="py-1">{{ pypipackage.vers_installed }} <i title="{{ 'SYSTEM.VERS_OK_NOT_RECENT'|translate }}" class="far fa-check-circle"></i></td>
                </ng-container>
                <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed === '-'">
                  <td class="py-1" style="color: red; font-weight: bold;">{{ 'SYSTEM.MISSING'|translate }} <i title="{{ 'SYSTEM.VERS_MISSING'|translate }}" class="fa fa-times-circle"></i></td>
                </ng-container>
                <ng-container *ngIf="!pypipackage.vers_ok && pypipackage.vers_installed !== '-'">
                  <td class="py-1" style="color: red;">{{ pypipackage.vers_installed }}</td>
                </ng-container>

                <ng-container *ngIf="pypipackage.pypi_version_ok || pypipackage.vers_recent">
                  <td class="py-1">{{ pypipackage.vers_req_max || '*' }}</td>
                </ng-container>
                <ng-container *ngIf="!pypipackage.pypi_version_ok && !pypipackage.vers_recent">
                  <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.vers_req_max || '*' }} <i title="{{ 'SYSTEM.VERS_OK_MAX_NOT_RECENT'|translate }}" class="fa fa-check-circle"></i></td>
                </ng-container>
                <!--        <td class="py-1">{{ reqinfodisplay[pypipackage.name] }}</td> -->

                <ng-container *ngIf="pypipackage.pypi_version_ok && (pypipackage.vers_recent)">
                  <td class="py-1">{{ pypipackage.pypi_version }} <i title="{{ 'SYSTEM.VERS_OK_RECENT'|translate }}" class="far fa-check-circle"></i></td>
                </ng-container>
                <ng-container *ngIf="pypipackage.pypi_version_ok && !pypipackage.vers_recent">
                  <td class="py-1" style="color: green; font-weight: bold;">{{ pypipackage.pypi_version }}</td>
                </ng-container>
                <ng-container *ngIf="!pypipackage.pypi_version_ok">
                  <td class="py-1" style="color: red;">{{ pypipackage.pypi_version || 'SYSTEM.UNKNOWN'|translate }} <i title="{{ 'SYSTEM.VERS_NOT_OK'|translate }}" class="far fa-times-circle"></i></td>
                </ng-container>

              </tr>
            </ng-container>
          </tbody>
        </ng-container>

        <!-- is NOT required -->

        <ng-container *ngIf="norequirementcount > 0">
          <thead>
          <tr class="shng_heading">
            <th class="py-1" style="background:#eee;" colspan="5">{{ 'SYSTEM.PACKAGES_WO_REQ'|translate }}</th>
          </tr>
          </thead>
          <tbody>
          <ng-container  *ngFor="let pypipackage of pypiinfo">
            <tr *ngIf="pypipackage.is_required === false && pypipackage.is_required_for_plugins === false && pypipackage.is_required_for_docbuild === false && pypipackage.is_required_for_testsuite === false">
              <ng-container *ngIf="pypipackage.pypi_doc_url === ''">
                <td class="py-1">{{ pypipackage.name }}</td>
              </ng-container>
              <ng-container *ngIf="pypipackage.pypi_doc_url !== ''">
                <td class="py-1"><a target="_blank" class="text-shng pypi_link" href="{{ pypipackage.pypi_doc_url }}">{{ pypipackage.name }}</a></td>
              </ng-container>
              <td class="py-1">{{ pypipackage.vers_req_min || '-' }}</td>

              <td class="py-1">{{ pypipackage.vers_installed }}</td>

              <td class="py-1">{{ pypipackage.vers_req_max || '-' }}</td>
<!--          <td class="py-1">{{ reqinfodisplay[pypipackage.name] }}</td> -->
              <td class="py-1">{{ pypipackage.pypi_version }}</td>
            </tr>
          </ng-container>
          </tbody>
        </ng-container>
      </table>

      <!--
            if (element['is_required_for_testsuite']) {
            <tr class=\"shng_heading\"><td class=\"py-1\" style=\"background:#eee;\" colspan=\"5\">{{ _('Pakete für die Testsuite') }}</td></tr>");
            } else if (element['is_required_for_docbuild']) {
            <tr class=\"shng_heading\"><td class=\"py-1\" style=\"background:#eee;\" colspan=\"5\">{{ _('Pakete für den Bau der Dokumentation') }}</td></tr>");
            } else {
            <tr class=\"shng_heading\"><td class=\"py-1\" style=\"background:#eee;\" colspan=\"5\">{{ _('Pakete ohne Requirements') }}</td></tr>");
            }
      -->
    </tab>

    <tab customClass="tab-shng" heading="{{ 'SYSTEM.DISCLOSURES'|translate }}">
      <div class="container-fluid navBorder" style="overflow: hidden; border-top: 0;">

        <div class="row">
          <div class="col" style="max-width: 100%;">
            <div class="card">
              <div class="card-body p-1">
                <div id="disclosuretext" style="overflow-y: scroll; white-space: pre-wrap;">


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
</div>

