.shngbody {
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
}

.tab-shng > a {
  border-bottom: none !important;
  outline: 0 !important;
  color: rgb(160, 160, 160);
}
