.shngbody {
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: max(20%, 200px) 1fr;
  grid-template-rows: auto 1fr;
}

.button-row {
  grid-column: 1 / -1;
  grid-row: 1;
  font-weight: normal;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 20px;
}

.items-filelist {
  grid-column: 1;
  grid-row: 2;
  min-width: 16px;
  margin-top: 60px;
}

.items-fileeditor {
  grid-column: 2;
  grid-row: 2;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
}

.tab-shng > a {
  border-bottom: none !important;
  outline: 0 !important;
  color: rgb(160, 160, 160);
}
