
<div style="margin-left: 10px; margin-right: 10px;">
  <tabset #staticTabs>
    <tab customClass="tab-shng" heading="{{ 'ITEMS.ITEMS'|translate }} ({{ 'ITEMS.TOTAL'|translate }}: {{itemcount}})">


      <!--
            <bs-alert *ngIf="alertText !== ''" type="warning"  [dismissible]="true" >
              <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </bs-alert>
      -->

      <!------------------------------------------>
      <!--   Modal dialog with details   -->
      <!------------------------------------------>

      <div bsModal #myalert="bs-modal" class="modal fade" tabindex="1" role="dialog" aria-labelledby="dialog-sizes-name2">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="dialog-sizes-name2" class="modal-title pull-left">
                <a [translate]="'Ungültiger Wert'"></a>
              </h5>
              <button type="button" class="close pull-right" aria-label="Close" (click)="closeAlert(myalert, itemdetails.value)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <ng-container *ngIf="item_val">
                <p>{{alertText}}</p>
                <p></p>
                <a [translate]="'Eingegebener Wert'"></a>: '{{item_val.value}}'
              </ng-container>
            </div>

            <div class="modal-footer">
              <button type="button" tabindex="1" autofocus="autofocus" class="btn btn-primary btn-sm btn-shng" (click)="closeAlert(myalert, itemdetails.value)">{{'CLOSE'|translate}}</button>
            </div>

          </div>
        </div>
      </div>


        <div class="container-fluid navBorder" style="overflow: hidden; border-top: 0;">
          <div>
            <div class="row">
              <div class="col shng_headline">

                  <div class="form-group">

                    <input type="input" pTooltip="{{'ITEMS.TOOLTIP SEARCH'|translate:searchStart_param}}" tooltipPosition="top" class="form-control" id="filter" #filter (keyup)="filterTree($event, filter.value)" placeholder="{{ 'ITEMS.SEARCH ITEMPATH'|translate }}..." value="{{ '' }}"/>

                  </div>
              </div>
              <div class="col shng_headline">
                <button type="button" class="btn btn-shng btn-sm" style="margin-right: 5px" id="btn-clear-search" [disabled]="!treeIsFiltered" (click)="clearFilter($event, filter)"><fa-icon [icon]="faCircleNotch"></fa-icon> {{ 'ITEMS.RESET'|translate }}</button>
                <button type="button" class="btn btn-shng btn-sm" style="margin-right: 5px; background-color: var(--shng-secondary-button)" id="btn-expand-all" (click)="expandAll()"><fa-icon [icon]="faFolderOpen"></fa-icon>&nbsp;{{ 'ITEMS.EXPAND ALL'|translate }}</button>
                <button type="button" class="btn btn-shng btn-sm" style="margin-right: 5px; background-color: var(--shng-secondary-button)" id="btn-collapse-all" (click)="collapseAll()"><fa-icon [icon]="faFolder"></fa-icon> {{ 'ITEMS.REDUCE ALL'|translate }}</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col" style="max-width: 50%;">
              <div class="card">
                <div class="card-body p-1">
                  <div id="tree" style="overflow-y: scroll;">
                    <div class="col-sm-12">

                        <p-tree [value]="filteredTree"
                                (onNodeSelect)="nodeSelect($event)"
                                selectionMode="single"
                                [(selection)]="selectedFile"
                                emptyMessage="{{'ITEMS.NO ITEMS'|translate}}">
                          <ng-template let-node  pTemplate="default">
                            <ng-container *ngIf="node.tags[0] > 0 && !this.treeIsFiltered">
                              {{node.label}} &nbsp;
                              <span style="background:#dadada;">
                                &nbsp; {{node.tags[0]}} &nbsp;
                              </span>
                            </ng-container>
                            <ng-container *ngIf="node.tags[0] === 0 || this.treeIsFiltered">
                              <span style="float: left;">{{node.label}}</span>
                            </ng-container>
                          </ng-template>


                        </p-tree>

                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col" style="max-width: 50%;">
              <div class="card" >
                <div class="card-header p-1 shng_heading">
                  <button type="button" class="float-sm-right btn btn-shng btn-sm" style="margin-left: 5px; background-color: var(--shng-secondary-button)" id="btn-reload" (click)="getDetails(itemdetails.path);"><fa-icon [icon]="faSync"></fa-icon> {{ 'ITEMS.RELOAD'|translate }}</button>
                  <ng-container *ngIf="monitoredItems.indexOf(itemdetails.path) === -1">
                    <button type="button" class="float-sm-right btn btn-shng btn-sm" style="margin-left: 5px" id="btn-monitor" [disabled]="(itemdetails.path === undefined)" (click)="monitorItem(itemdetails.path, true);"><fa-icon [icon]="faThumbtack"></fa-icon> {{ 'ITEMS.MONITOR'|translate }}</button>
                  </ng-container>
                  <ng-container *ngIf="monitoredItems.indexOf(itemdetails.path) !== -1">
                    <button type="button" class="float-sm-right btn-shng-outline-secondary btn-sm" style="margin-left: 5px;" id="btn-monitor" [disabled]="(itemdetails.path === undefined)" (click)="monitorItem(itemdetails.path, false);"><i style="color: #c40808;" class="far fa-trash-alt"></i> {{ 'ITEMS.MONITOR'|translate }}</button>
                  </ng-container>
                  <strong>{{ 'ITEMS.ITEM DETAILS'|translate }}</strong>
                </div>
                <div class="card-body p-1" style="position: relative;">
                  <div class="card-text" style="">
                    <div id="cardOverlay" class="cardOverlay" style="position: relative; top: 45%; left:45%;">
                        <span id="reload-element" class="fas fa-sync fa-4x"></span>
                    </div>
                    <div id="tree_detail" class="data-container refresh-data pre-scrollable" style="overflow-x: auto;">
                      <span *ngIf="itemdetailsloaded === false">
                        {{ 'ITEMS.CHOOSE ITEM IN TREE'|translate }}<br>
                      </span>
                      <table *ngIf="itemdetailsloaded" class="table table-striped table-hover">
                        <thead><tr class="shng_heading"><th class="py-1" style="min-width: 190px;">{{ 'ITEMS.ATTRIBUTE'|translate }}</th><th class="py-1">{{ 'ITEMS.VALUE'|translate }}</th></tr></thead>
                        <tbody>
                          <tr><td class="py-1">{{'ITEMS.PATH'|translate}}</td><td class="py-1">{{itemdetails.path}}</td></tr>
                          <tr><td class="py-1">{{'ITEMS.NAME'|translate}}</td><td class="py-1">{{itemdetails.name}}</td></tr>
                          <tr><td class="py-1">{{'ITEMS.TYPE'|translate}}</td><td class="py-1">{{itemdetails.type}}</td></tr>
                          <ng-container *ngIf="itemdetails.struct !== undefined">
                            <tr><td class="py-1">{{'ITEMS.STRUCT'|translate}}</td><td class="py-1">{{itemdetails.struct}}</td></tr>
                          </ng-container>
<!--
                          <tr><td class="py-1">{{'value'|translate}}</td><td class="py-1">{{itemdetails.input}}</td></tr>
-->

                          <tr [ngSwitch]="itemdetails.type">
                            <td class="py-1">{{'ITEMS.VALUE'|translate}}</td>
                            <td class="py-1">
                              <!-- handle bool values -->
                              <ng-container *ngSwitchCase="'bool'">
                                <!--
                                <select class="form-control" #item_value
                                        (onChange)="updateValue(itemdetails.path, item_value, itemdetails.type, itemdetails.value, '#myalert')">
                                        (blur)="updateValue(itemdetails.path, item_value, itemdetails.type, itemdetails.value, '#myalert')"
                                        id="item_value">
                                  <ng-container *ngIf="itemdetails.value === true">
                                    <option selected>true</option><option>false</option>
                                  </ng-container>
                                  <ng-container *ngIf="itemdetails.value === false">
                                    <option>true</option><option selected>false</option>
                                  </ng-container>
                                </select>
                                -->
                                <p-inputSwitch [(ngModel)]="itemdetails.value"
                                               (onChange)="updateValue(itemdetails.path, itemdetails.value, itemdetails.type, itemdetails.value, myalert)">
                                </p-inputSwitch>
                              </ng-container>
                              <ng-container *ngSwitchCase="itemdetails.type === 'str' || itemdetails.type === 'list' || itemdetails.type === 'dict' ? itemdetails.type : '' ">
                                <textarea type="text" class="form-control" #item_value (blur)="updateValue(itemdetails.path, item_value, itemdetails.type, itemdetails.value, myalert)" id="item_value">{{itemdetails.value}}</textarea>
                              </ng-container>
                              <ng-container *ngSwitchCase="itemdetails.type === 'num' || itemdetails.type === 'scene' ? itemdetails.type : '' ">
                                <input type="text" class="form-control" #item_value (blur)="updateValue(itemdetails.path, item_value, itemdetails.type, itemdetails.value, myalert)" id="item_value" value="{{itemdetails.value}}"/>
                              </ng-container>
<!--
                              <ng-container *ngSwitchCase="itemdetails.type === 'num' || itemdetails.type === 'scene' ? itemdetails.type : '' ">
                                <input type="text" class="form-control" #item_value (blur)="myalert.show()" id="item_value" value="{{itemdetails.value}}"/>
                              </ng-container>
-->
                              <ng-container *ngSwitchDefault>
                                {{itemdetails.value}}
                              </ng-container>
                            </td>
                          </tr>

                          <tr></tr>
                          <tr class="shng_heading"><th class="py-1" colspan="2" style="height: 45px; vertical-align: bottom">{{ 'ITEMS.UPDATE INFORMATION'|translate }}:</th></tr>
                          <tr><td class="py-1">{{'ITEMS.LAST UPDATE'|translate}}</td><td class="py-1">{{shared.displayDateTime(itemdetails.last_update)}}</td></tr>
                          <tr><td class="py-1">{{'ITEMS.LAST CHANGE'|translate}}</td><td class="py-1">{{shared.displayDateTime(itemdetails.last_change)}}</td></tr>
                          <tr><td class="py-1">{{'ITEMS.UPDATE AGE'|translate}}</td><td class="py-1">{{this.update_age}}</td></tr>
                          <tr><td class="py-1">{{'ITEMS.CHANGE AGE'|translate}}</td><td class="py-1">{{this.change_age}}</td></tr>
                          <tr><td class="py-1">{{'ITEMS.UPDATE BY'|translate}}</td><td class="py-1">{{itemdetails.updated_by}}</td></tr>
                          <tr><td class="py-1">{{'ITEMS.CHANGE BY'|translate}}</td><td class="py-1">{{itemdetails.changed_by}}</td></tr>
                          <tr><td class="py-1">{{'ITEMS.PREVIOUS VALUE'|translate}}</td><td class="py-1">{{itemdetails.previous_value}}</td></tr>
                          <tr><td class="py-1">{{'ITEMS.PREVIOUS UPDATE'|translate}}</td><td class="py-1">{{shared.displayDateTime(itemdetails.previous_update)}}</td></tr>
                          <tr><td class="py-1">{{'ITEMS.PREVIOUS CHANGE'|translate}}</td><td class="py-1">{{shared.displayDateTime(itemdetails.previous_change)}}</td></tr>
                          <tr><td class="py-1">{{'ITEMS.PREVIOUS UPDATE AGE'|translate}}</td><td class="py-1">{{this.previous_update_age}}</td></tr>
                          <tr><td class="py-1">{{'ITEMS.PREVIOUS CHANGE AGE'|translate}}</td><td class="py-1">{{this.previous_change_age}}</td></tr>

                          <tr class="shng_heading"><th class="py-1" colspan="2" style="height: 45px; vertical-align: bottom">{{'ITEMS.EVALUATION AND TRIGGER'|translate}}:</th></tr>
                          <tr><td class="py-1">{{'cache'|translate}}</td><td class="py-1">{{itemdetails.cache}}</td></tr>
                          <tr><td class="py-1">{{'enforce_updates'|translate}}</td><td class="py-1">{{itemdetails.enforce_updates}}</td></tr>
                          <tr><td class="py-1">{{'eval_trigger'|translate}}</td><td class="py-1">{{itemdetails.trigger}}</td></tr>
                          <tr *ngIf="itemdetails.trigger_condition !== '-'"><td class="py-1">{{'trigger_condition'|translate}}</td><td class="py-1">{{itemdetails.trigger_condition}}</td></tr>
                          <tr *ngIf="itemdetails.trigger_condition_raw !== ''"><td class="py-1">{{'trigger_condition raw'|translate}}</td><td class="py-1">{{itemdetails.trigger_condition_raw}}</td></tr>
                          <tr><td class="py-1">{{'eval'|translate}}</td><td class="py-1">{{itemdetails.eval}}</td></tr>
                          <tr><td class="py-1">{{'on_update'|translate}}</td><td class="py-1">{{itemdetails.on_update}}</td></tr>
                          <tr><td class="py-1">{{'on_change'|translate}}</td><td class="py-1">{{itemdetails.on_change}}</td></tr>
                          <tr><td class="py-1">{{'log_change'|translate}}</td><td class="py-1">{{itemdetails.log_change}}</td></tr>
                          <tr><td class="py-1">{{'cycle'|translate}}</td><td class="py-1">{{itemdetails.cycle}}</td></tr>
                          <tr><td class="py-1">{{'crontab'|translate}}</td><td class="py-1">{{itemdetails.crontab}}</td></tr>
                          <tr><td class="py-1">{{'autotimer'|translate }}</td><td class="py-1">{{itemdetails.autotimer}}</td></tr>
                          <tr><td class="py-1">{{'threshold'|translate}}</td><td class="py-1">{{itemdetails.threshold}}</td></tr>

                          <ng-container *ngIf="itemdetails.threshold_crossed !== ''">
                            <tr><td class="py-1">{{'threshold crossed'|translate}}</td><td class="py-1">{{itemdetails.threshold_crossed}}</td></tr>
                          </ng-container>

                          <ng-container *ngIf="JSON.stringify(itemdetails.config) !== '{}'">
                            <tr class="shng_heading"><th class="py-1" colspan="2" style="height: 45px; vertical-align: bottom">{{ 'ITEMS.PLUGIN SPECIFIC CONFIGURATION'|translate }}:</th></tr>
                            <ng-container *ngFor="let key of Object.keys(itemdetails.config)">
                              <tr><td class="py-1">{{key}}</td><td class="py-1">{{itemdetails.config[key]}}</td></tr>
                            </ng-container>
                          </ng-container>

                          <ng-container *ngIf="itemdetails.logics && itemdetails.logics.length > 0">
                            <tr class="shng_heading"><th class="py-1" colspan="2" style="height: 45px; vertical-align: bottom">{{ 'ITEMS.CONNECTED LOGICS'|translate }}:</th></tr>
                            <ng-container *ngFor="let logic of itemdetails.logics">
                              <tr><td class="py-1" colspan="2" > <a class="text-shng" [routerLink]="['/logics/edit', logic]">{{logic}}</a></td></tr>
                            </ng-container>
                          </ng-container>

                          <ng-container *ngIf="itemdetails.triggers && itemdetails.triggers.length > 0">
                            <tr class="shng_heading"><th class="py-1" colspan="2" style="height: 45px; vertical-align: bottom">{{ 'ITEMS.CONNECTED TRIGGERS'|translate }}:</th></tr>
                            <ng-container *ngFor="let trigger of itemdetails.triggers">
                              <tr><td class="py-1" colspan="2">{{trigger}}</td></tr>
                            </ng-container>
                          </ng-container>


                          <tr *ngIf="itemdetails.filename !== 'None'"><td class="py-1" style="height: 45px; vertical-align: bottom">{{'ITEMS.DEFINED IN'|translate}}</td><td class="py-1" style="height: 45px; vertical-align: bottom">{{itemdetails.filename}}</td></tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </tab>


    <!-------------------------------------------------->
    <!--   List with monitored items and their data   -->
    <!-------------------------------------------------->

    <tab customClass="tab-shng" heading="{{ 'ITEMS.MONITORED ITEMS'|translate }}">
      <table class="table table-striped table-hover">
        <thead>
        <tr class="shng_heading">
          <th style="min-width: 250px; border-top: 0">{{ 'ITEMS.PATH'|translate }}</th>
          <th style="width: 150px; border-top: 0">{{ 'ITEMS.VALUE'|translate }}</th>
          <th style="min-width: 100px; border-top: 0">{{ 'ITEMS.LAST CHANGE'|translate }}</th>
          <th style="min-width: 100px; border-top: 0">{{ 'ITEMS.CHANGE BY'|translate }}</th>
          <th style="min-width: 100px; border-top: 0">{{ 'ITEMS.LAST UPDATE'|translate }}</th>
          <th style="min-width: 100px; border-top: 0">{{ 'ITEMS.UPDATE BY'|translate }}</th>
          <th style="width: 30px; border-top: 0">{{ 'ITEMS.ACTIONS'|translate }}</th>
        </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let itempath of monitoredItems">
            <tr>
              <td class="py-1">{{ itempath }}</td>
              <td class="py-1"></td>
              <td class="py-1">-</td>
              <td class="py-1">-</td>
              <td class="py-1">-</td>
              <td class="py-1">-</td>
              <td class="py-1">
                <button type="button" class="float-sm-right btn-outline btn-sm" style="margin-left: 5px" id="btn-monitor2" (click)="monitorItem(itempath, false);"><i style="color: #c40808;" class="far fa-trash-alt"></i></button>
              </td>
            </tr>
          </ng-container>

          <tr>
            <td colspan="7"></td>
          </tr>
          <tr>
            <td colspan="7">Diese Funktion wartet auf die vollständige Implementierung der Websockets</td>
          </tr>
        </tbody>
      </table>
    </tab>

<!--
    <tab customClass="tab-shng" heading="{{ 'ITEMS.TO COME'|translate }}">
    </tab>

    <tab customClass="tab-shng" heading="{{ 'ITEMS.TO COME'|translate }}">
    </tab>
-->
  </tabset>
</div>
