
<div style="margin-left: 10px; margin-right: 10px; margin-top: 55px;">
  <tabset #staticTabs>
    <tab customClass="tab-shng" heading="{{ 'SERVICES.SERVICES'|translate }}">
      <div class="container-fluid"style="margin-top: 0px; margin-left: 10px; margin-right: 10px;"></div>
      <div style="margin-left: 10px; margin-right: 10px;">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead border="0">
              <tr class="shng_heading">
                <th width="70" style="border: 0px;"></th>
                <th style="width:350px; border: 0px;">{{'SERVICES.SERVICE'|translate}}</th>
                <th style="width:300px; border: 0px;">{{'SERVICES.STATUS'|translate}}</th>
                <th style="border: 0px;">{{'SERVICES.ACTION'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="assets/img/languages.svg" alt="Icon languages" width="48" height="48"></td>
                <td style="padding-top:23px;">{{'SERVICES.LANGUAGE_UI'|translate}}</td>
                <td style="padding-top:23px;"><strong>{{this.default_language}}</strong></td>
                <td style="padding-top:21px;">
                  <p-dropdown [style]="{'width':'150px'}" [options]="valid_languagelist" [showClear]="false" placeholder="{{valid_default_language}}" (onChange)="setLanguage()" [(ngModel)]="selected_language" (ngModelChange)="selected_language = $event"></p-dropdown>
                </td>
              </tr>
              <tr>
                <td><img src="assets/img/logo_small_76x76.png" alt="SmartHomeNG logo" width="48" height="48"></td>
                <td style="padding-top:23px;">SmartHomeNG</td>
                <td style="padding-top:23px;"><strong>{{shng_status}}</strong></td>
                <td style="padding-top:22px;">
                  <button pButton type="button" icon="fa fa-circle-notch" [disabled]="(shng_statuscode !== 20)" (click)="this.restartShng()" label="{{'BUTTON.RESTART_SHNG'|translate}}" class="ui-button-success"></button>
                </td>
              </tr>
              <tr>
                <td><img src="assets/img/backup.svg" alt="SmartHomeNG logo" width="48" height="48"></td>
                <td style="padding-top:23px;">{{'SERVICES.BACKUP_CONFIG'|translate}}</td>
                <td style="padding-top:23px;"><strong>{{shared.displayDateTime(serverInfo.last_backup)}}</strong></td>
                <td style="padding-top:22px;">
                  <button pButton type="button" icon="fa fa-download" [disabled]="backup_disabled || (shng_statuscode !== 20)" (click)="this.downloadBackup()" label="{{'BUTTON.DOWNLOAD'|translate}}" class="ui-button-success"></button>
                  &nbsp;
                  <button pButton type="button" icon="fa fa-upload" [disabled]="restore_disabled || (shng_statuscode !== 20)" (click)="this.restoreBackup()" label="{{'BUTTON.RESTORE'|translate}}" class="ui-button-success"></button>
                </td>
              </tr>
              <tr>
                <td><img src="assets/img/plugin_gateway.svg" alt="Icon knxd" width="48" height="48"></td>
                <td style="padding-top:23px;">{{'SERVICES.KNX_SUPPORT'|translate}}</td>
                <td style="padding-top:23px;"><strong>{{serverInfo.daemon_knx|translate}}</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/img/pins_and_ribbon.svg" alt="Icon 1-wire" width="48" height="48"></td>
                <td style="padding-top:23px;">{{'SERVICES.OW_SUPPORT'|translate}}</td>
                <td style="padding-top:23px;"><strong>{{serverInfo.daemon_ow|translate}}</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/img/mqtt_logo.png" alt="Icon mqtt" width="48" height="48"></td>
                <td style="padding-top:23px;">{{'SERVICES.MQTT_SUPPORT'|translate}}</td>
                <td style="padding-top:23px;"><strong>{{serverInfo.daemon_mqtt|translate}}</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/img/node-red.png" alt="Icon node_red" width="48" height="48"></td>
                <td style="padding-top:23px;">{{'SERVICES.NODE_RED_SUPPORT'|translate}}</td>
                <td style="padding-top:23px;"><strong>{{serverInfo.daemon_node_red|translate}}</strong></td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <img src="assets/img/password.svg" alt="Icon password" width="48" height="48">
                  <div id="hash_value" style="margin-top: 15px; width:70px;">{{ pwd_hash }}</div>
                </td>
                <td style="padding-top:23px;">
                  {{'SERVICES.PASSWORD_HASH'|translate}}
                </td>
                <td style="padding-top:13px;">
                  <input class="form-control" [(ngModel)]="pwd_clear" [type]="pwd_show ? 'text' : 'password'" id="plainpass" size="20" maxlength="50" style="width: 250px;"/>
                  <input type="checkbox" [(ngModel)]="pwd_show" style="..." id="showtext"  onclick="this.pwd_show = true;"> {{ 'SERVICES.SHOW_PASSWORD'|translate }}
                </td>
                <td style="padding-top:22px;">
                  <button pButton type="button" icon="fa fa-toolbox" (click)="createPwdHash()" id="create_hash" label="{{'BUTTON.CREATE_HASH'|translate}}" class="ui-button-success"></button>
                </td>
              </tr>

            </tbody>

          </table>
        </div>

      </div>
    </tab>


    <!-- ------------------------------------------------------------------------------------
          Eval checker
    ------------------------------------------------------------------------------------- -->

    <tab customClass="tab-shng" heading="{{ 'SERVICES.EVAL CHECKER'|translate }}">
      <div class="container-fluid" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
      </div>

      <div style="font-weight: normal; padding-top: 10px; padding-left: 10px; padding-right: 5px;">
        {{ 'SERVICES.EVAL_CHECK_SOURCE'|translate }}
        <ngx-codemirror #evalcodeeditor
                        [options]="cmEvalOptions"
                        [(ngModel)]="myEvalTextarea"
                        [autoFocus]="true"
        ></ngx-codemirror>
      </div>

      <br>
      <div style="font-weight: normal; padding-top: 10px; padding-left: 10px; padding-right: 5px;">
        {{ 'SERVICES.EVAL_RELATIVE_TO'|translate }}: &nbsp;
        <input type="text" pInputText style="width: 400px" [(ngModel)]="myRelativeTo"/>
        <button pButton label="{{ 'BUTTON.CHECK'|translate }}" type="button" style="margin-right: 0px;" (click)="checkEval()" class="float-sm-right ui-button-success"></button>
      </div>

      <br>
      <div style="font-weight: normal; padding-top: 10px; padding-left: 10px; padding-right: 5px;">
        {{ 'SERVICES.EVAL_CHECK_EXPANDED'|translate }}
        <ngx-codemirror #evalcodeeditor2
                        [options]="cmEvalOptionsOutput"
                        [ngModel]="myEvalTextOutput"
                        [autoFocus]="true"
                        [disabled]="true"
        ></ngx-codemirror>
      </div>


      <br>
      <div style="font-weight: normal; padding-top: 10px; padding-left: 10px; padding-right: 5px;">
        <table>
          <tr>
            <td>{{ 'SERVICES.EVAL_CHECK_RESULT'|translate }}: &nbsp;</td>
            <td><strong>{{ myEvalResult }}</strong></td>
          </tr>
          <tr>
            <td>{{ 'SERVICES.EVAL_RESULT_TYPE'|translate }}: &nbsp;</td>
            <td><strong>{{ myResultType }}</strong></td>
          </tr>
        </table>
      </div>

    </tab>


    <!-- ------------------------------------------------------------------------------------
          YAML Syntax checker
    ------------------------------------------------------------------------------------- -->

    <tab customClass="tab-shng" heading="{{ 'SERVICES.YAML CHECKER'|translate }}">
      <div class="container-fluid" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
      </div>

      <table style="width: 100%">
      <tbody>
      <td style="min-width: 50%">
        <div style="font-weight: normal; padding-top: 10px; padding-left: 10px; padding-right: 5px;">
          {{ 'SERVICES.YAML_CHECK_SOURCE'|translate }}
          <button pButton label="{{ 'BUTTON.CHECK'|translate }}" type="button" style="margin-right: 0px;" (click)="checkYaml()" class="float-sm-right ui-button-success"></button>
        </div>
      </td>
      <td style="min-width: 50%">
        <div style="font-weight: normal; padding-top: 10px; padding-left: 0px;">
          {{ 'SERVICES.YAML_CHECK_RESULT'|translate }}
        </div>
      </td>
      <tr>
        <td>
        <div style="height: 100px; margin-top: 10px; padding-left: 10px; padding-right: 5px; width: 100%">
          <ngx-codemirror #codeeditor
            [options]="cmOptions"
            [(ngModel)]="myTextarea"
            [autoFocus]="true"
          ></ngx-codemirror>
        </div>
        </td>
        <td>
        <div style="height: 100px; margin-top: 10px; padding-left: 0px; padding-right: 15px; width: 100%">
          <ngx-codemirror #codeeditor2
            [options]="cmOptionsOutput"
            [ngModel]="myTextOutput"
            [autoFocus]="true"
            [disabled]="true"
          ></ngx-codemirror>
        </div>
        </td>
      </tr>
      </tbody></table>
    </tab>


    <!-- ------------------------------------------------------------------------------------
           CONF to YAML converter
    ------------------------------------------------------------------------------------- -->

    <tab customClass="tab-shng" heading="{{ 'SERVICES.CONF TO YAML'|translate }}">
      <div class="container-fluid" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
      </div>

      <table style="width: 100%">
        <tbody>
        <td style="min-width: 50%">
          <div style="font-weight: normal; padding-top: 10px; padding-left: 10px; padding-right: 5px;">
            {{ 'SERVICES.YAML_CONVERTER_SOURCE'|translate }}
            <button pButton label="{{ 'BUTTON.CHECK'|translate }}" type="button" style="margin-right: 0px;" (click)="convertYaml()" class="float-sm-right ui-button-success"></button>
          </div>
        </td>
        <td style="min-width: 50%">
          <div style="font-weight: normal; padding-top: 10px; padding-left: 0px;">
            {{ 'SERVICES.YAML_CONVERTER_RESULT'|translate }}
          </div>
        </td>
        <tr>
          <td>
            <div style="height: 100px; margin-top: 10px; padding-left: 10px; padding-right: 5px; width: 100%">
              <ngx-codemirror #convertercodeeditor
                              [options]="cmConveterOptions"
                              [(ngModel)]="myConverterTextarea"
                              [autoFocus]="true"
              ></ngx-codemirror>
            </div>
          </td>
          <td>
            <div style="height: 100px; margin-top: 10px; padding-left: 0px; padding-right: 15px; width: 100%">
              <ngx-codemirror #convertercodeeditor2
                              [options]="cmConverterOptionsOutput"
                              [ngModel]="myConverterTextOutput"
                              [autoFocus]="true"
                              [disabled]="true"
              ></ngx-codemirror>
            </div>
          </td>
        </tr>
        </tbody></table>
    </tab>


    <!-- ------------------------------------------------------------------------------------
          Cache Checker
    ------------------------------------------------------------------------------------- -->

    <tab customClass="tab-shng" heading="{{ 'SERVICES.CACHE_CHECKER'|translate }}">
      <div class="container-fluid" style="margin-top: 30px;">
        {{ 'SERVICES.FILES_WITHOUT_ITEM'|translate }} /var/cache: <strong>{{ cacheInfo.length }}</strong>
        <br>&nbsp;
        <table class="table table-striped" style="border: 1px solid #ccc;">
          <thead><tr>
            <th><input [(ngModel)]="cacheAllChecked" (change)="cacheCheckAll()" type="checkbox"/></th>
            <th style="width: 550px;">{{ 'SERVICES.FILENAME'|translate }}</th>
            <th style="min-width:200px;">{{ 'SERVICES.LAST_MODIFICATION'|translate }}</th>
            <th style="min-width:200px;">{{ 'SERVICES.CREATION_DATE'|translate }}</th>
            <th>{{ 'SERVICES.ACTIONS'|translate }}</th>
          </tr></thead>

          <tbody>
            <ng-container *ngFor="let cacheEntry of cacheInfo; index as i">
              <tr>
                <td><input [(ngModel)]="cacheEntry.checked" type="checkbox"/></td>
                <td>{{ cacheEntry.filename }}</td>
                <td>{{ cacheEntry.last_modified }}</td>
                <td>{{ cacheEntry.created }}</td>
                <td>
                  <button pButton type="button" (click)="deleteCacheEntry(i)" label="{{'BUTTON.DELETE'|translate}}" class="ui-button-success"></button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <ng-container *ngIf="cacheInfo.length !== 0">
          <button pButton type="button" (click)="deleteCacheSelected()" label="{{'BUTTON.DELETE_SELECTED'|translate}}" class="ui-button-success"></button>
        </ng-container>
        <ng-container *ngIf="cacheInfo.length === 0">
          <button pButton type="button" (click)="loadCacheOrphans()" label="{{'BUTTON.UPDATE'|translate}}" class="ui-button-success"></button>
        </ng-container>
        <br>&nbsp;
      </div>

    </tab>

  </tabset>
</div>


<p-dialog header="{{'SERVICES.BACKUP_DONE_TITLE'|translate}}" [(visible)]="show_backup_confirm" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '400px'}" [minY]="70"
          [baseZIndex]="10000">
    <span>{{'SERVICES.BACKUP_DONE'|translate}}</span>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="show_backup_confirm = false" label="{{'BUTTON.OK'|translate}}" class="ui-button-success"></button>
  </p-footer>
</p-dialog>


<p-dialog header="{{'SERVICES.RESTORE_TITLE'|translate}}"
          [(visible)]="show_restore_chooser"
          [modal]="true"
          [responsive]="true"
          [style]="{width: '720px', minWidth: '400px'}"
          [minY]="140"
          [baseZIndex]="10000">

  <span>{{'SERVICES.RESTORE'|translate}}</span>
  <br><br>

  <p-fileUpload #upload_form
                name="demo[]"
                mode="advanced"
                [auto]="false"
                url="./api/files/restore?filename=restore_backup.zip"
                [method]="'PUT'"
                accept="application/zip"
                customUpload="true"
                (uploadHandler)="myUploader($event, upload_form)"
                chooseLabel="{{'SERVICES.CHOOSE_FILE'|translate}}"
                uploadLabel="{{'SERVICES.UPLOAD_RESTORE'|translate}}"
                cancelLabel="{{'SERVICES.CANCEL'|translate}}"
                fileLimit="1"
                maxFileSize="1000000">
  </p-fileUpload>

  <p-footer>
    <button type="button" pButton icon="fa fa-times" (click)="show_restore_chooser = false" label="{{'BUTTON.CLOSE'|translate}}" class="ui-button-success"></button>
  </p-footer>
</p-dialog>
