<div class="shngbody">
  <div class="shng-page-header">{{ 'MENU.SCENE_LIST' | translate }}</div>
  <div class="shng-page-body page-body">
    @if (sceneList.length === 0) {
      <p style="margin-left: 15px; margin-top: 15px" class="shng-text-muted">{{ 'SCENES.NO_SCENES' | translate }}</p>
    }
    <p-accordion [multiple]="true">
      @for (scene of sceneList; track scene.path) {
        <p-accordion-panel [value]="$index">
          <p-accordion-header>
            <span class="shng-text-lg">{{ scene['path'] }}</span>
            @if (scene['name'] && scene['name'] !== '') {
              &nbsp; &nbsp; ({{ scene['name'] }})
            }
          </p-accordion-header>
          <p-accordion-content>
            <div style="margin-left: 17px">
              <table class="table table-striped table-hover shng-list-table" style="border: 1px solid #ddd">
                <colgroup>
                  <col width="15px" />
                  <col width="50px" />
                  <col width="80px" />
                  <col width="400px" />
                  <col minwidth="300px" />
                </colgroup>
                <thead>
                  <tr class="shng_heading">
                    <th colspan="2">{{ 'SCENES.SCENE' | translate }}</th>
                    <th style="padding-left: 0">{{ 'SCENES.LEARN' | translate }}</th>
                    <th style="padding-left: 0">{{ 'SCENES.ITEM' | translate }}</th>
                    <th style="padding-left: 0">{{ 'SCENES.VALUE' | translate }}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (value of scene['values']; track $index) {
                    @for (action of value['action_list']; track $index) {
                      @if (action === value['action_list'][0] && value['action_name'] !== '') {
                        <tr>
                          <td class="p-1"></td>
                          <td class="p-1" colspan="3">
                            <strong>{{ value['action'] }}</strong
                            >: {{ value['action_name'] }}
                          </td>
                          <td class="p-1"></td>
                          <td class="p-1"></td>
                        </tr>
                      }

                      <tr>
                        <td class="p-1"></td>
                        <td class="p-1">
                          @if (action === value['action_list'][0] && value['action_name'] === '') {
                            <strong>{{ value['action'] }}</strong
                            >:
                          }
                        </td>

                        <td class="p-1">
                          @if (action[2]) {
                            {{ 'ja' | translate }}
                          }
                          @if (!action[2]) {
                            {{ 'nein' | translate }}
                          }
                        </td>

                        <td class="p-1">{{ action[0] }}</td>

                        <td class="p-1">
                          @if (!action[3] || action[3] === action[1]) {
                            {{ action[1] }}
                          }
                          @if (!(!action[3] || action[3] === action[1])) {
                            {{ action[3] }} (default: {{ action[1] }})
                          }
                        </td>

                        <td class="p-1"></td>
                      </tr>
                    }
                  }
                </tbody>
              </table>
            </div>
          </p-accordion-content>
        </p-accordion-panel>
      }
    </p-accordion>
  </div>
</div>
