::ng-deep .tab-shng > a{
  border-bottom: none !important;
  outline: 0 !important;
  color:rgb(160, 160, 160);
}

:host /deep/ .ui-accordion .ui-accordion-header:hover a{
  text-decoration: none;
}

.shngbody {
  height: calc(100vh - 60px);
  width: 100%;
  margin: 0;
  padding: 0;

  padding-left: 10px;       /* padding around tab border */
  padding-right: 10px;

  display: grid;
  grid-template-rows: 0px auto 10px;
  grid-template-columns: 1fr;

  grid-template-areas: "body-header"
                      "body-content"
                      "body-footer";

  grid-gap: 0px;
  grid-auto-flow: row;
}

.body-header {
  grid-area: body-header;
  width: 100%;

  display: grid;
  overflow: auto;

  grid-template-columns: 110px minmax(140px, 280px) 1fr;
  grid-auto-rows: minmax(50px, max-content);
}

.body-content {
  grid-area: body-content;
  width: 100%;
  height: calc(100vh - 60px - 10px);
  padding: 10px;
  padding-top: 0px;

  overflow: auto;

  display: grid;
  grid-template-areas: "tab-header"
                       "tab-content"
                       "tab-footer";
  grid-template-columns: 1fr;
//grid-auto-rows: minmax(50px, max-content);
  grid-template-rows: 00px auto 0px;
}


.body-footer {
  grid-area: body-footer;
  width: 100%;
}
