<div class="shngbody">
  <div class="body-content">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">{{ 'SCHEDULERS.ITEM SCHEDULERS' | translate }}</p-tab>
        <p-tab value="1">{{ 'SCHEDULERS.LOGIC SCHEDULERS' | translate }}</p-tab>
        <p-tab value="2">{{ 'SCHEDULERS.PLUGIN SCHEDULERS' | translate }}</p-tab>
        <p-tab value="3">{{ 'SCHEDULERS.OTHER SCHEDULERS' | translate }}</p-tab>
        <p-tab value="4">{{ 'SCHEDULERS.TRIGGERS' | translate }}</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <table class="table table-striped table-hover tab-table shng-list-table">
            <div class="tab-header"></div>

            <div class="tab-content">
              <thead>
                <tr class="shng_heading">
                  <th class="sortable-th" style="width: 280px; border-top: 0" (click)="sortBy('name')">
                    {{ 'SCHEDULERS.SCHEDULER' | translate }}
                    @if (sortField === 'name') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th class="sortable-th" style="min-width: 250px; border-top: 0" (click)="sortBy('next')">
                    {{ 'SCHEDULERS.NEXT EXECUTION' | translate }}
                    @if (sortField === 'next') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th class="sortable-th" style="width: 50px; border-top: 0" (click)="sortBy('prio')">
                    {{ 'SCHEDULERS.PRIO' | translate }}
                    @if (sortField === 'prio') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.VALUE' | translate }}</th>
                  <th class="sortable-th" style="min-width: 130px; border-top: 0" (click)="sortBy('cycle')">
                    {{ 'SCHEDULERS.CYCLE' | translate }}
                    @if (sortField === 'cycle') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th style="width: 100%; border-top: 0">{{ 'SCHEDULERS.CRONTAB' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                @for (scheduler of schedulerinfo; track scheduler.name) {
                  @if (scheduler.group === 'item') {
                    <tr>
                      <td class="py-1">{{ scheduler.name }}</td>
                      <td class="py-1">{{ scheduler.next }}</td>
                      <td class="py-1">{{ scheduler.prio }}</td>
                      <td class="py-1">{{ scheduler.value }}</td>
                      <td class="py-1">{{ scheduler.cycle }}</td>
                      <td class="py-1">{{ scheduler.cron }}</td>
                    </tr>
                  }
                }
              </tbody>
            </div>
          </table>
        </p-tabpanel>

        <p-tabpanel value="1">
          <table class="table table-striped table-hover shng-list-table">
            <div class="tab-header"></div>

            <div class="tab-content">
              <thead>
                <tr class="shng_heading">
                  <th class="sortable-th" style="width: 280px; border-top: 0" (click)="sortBy('name')">
                    {{ 'SCHEDULERS.SCHEDULER' | translate }}
                    @if (sortField === 'name') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th class="sortable-th" style="min-width: 250px; border-top: 0" (click)="sortBy('next')">
                    {{ 'SCHEDULERS.NEXT EXECUTION' | translate }}
                    @if (sortField === 'next') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th class="sortable-th" style="width: 50px; border-top: 0" (click)="sortBy('prio')">
                    {{ 'SCHEDULERS.PRIO' | translate }}
                    @if (sortField === 'prio') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.VALUE' | translate }}</th>
                  <th class="sortable-th" style="min-width: 130px; border-top: 0" (click)="sortBy('cycle')">
                    {{ 'SCHEDULERS.CYCLE' | translate }}
                    @if (sortField === 'cycle') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th style="width: 100%; border-top: 0">{{ 'SCHEDULERS.CRONTAB' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                @for (scheduler of schedulerinfo; track scheduler.name) {
                  @if (scheduler.group === 'logic') {
                    <tr>
                      <td class="py-1">{{ scheduler.name }}</td>
                      <td class="py-1">{{ scheduler.next }}</td>
                      <td class="py-1">{{ scheduler.prio }}</td>
                      <td class="py-1">{{ scheduler.value }}</td>
                      <td class="py-1">{{ scheduler.cycle }}</td>
                      <td class="py-1">{{ scheduler.cron }}</td>
                    </tr>
                  }
                }
              </tbody>
            </div>
          </table>
        </p-tabpanel>

        <p-tabpanel value="2">
          <table class="table table-striped table-hover shng-list-table">
            <div class="tab-header"></div>

            <div class="tab-content">
              <thead>
                <tr class="shng_heading">
                  <th class="sortable-th" style="width: 280px; border-top: 0" (click)="sortBy('name')">
                    {{ 'SCHEDULERS.SCHEDULER' | translate }}
                    @if (sortField === 'name') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th class="sortable-th" style="min-width: 250px; border-top: 0" (click)="sortBy('next')">
                    {{ 'SCHEDULERS.NEXT EXECUTION' | translate }}
                    @if (sortField === 'next') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th class="sortable-th" style="width: 50px; border-top: 0" (click)="sortBy('prio')">
                    {{ 'SCHEDULERS.PRIO' | translate }}
                    @if (sortField === 'prio') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.PARAMETERS' | translate }}</th>
                  <th class="sortable-th" style="min-width: 130px; border-top: 0" (click)="sortBy('cycle')">
                    {{ 'SCHEDULERS.CYCLE' | translate }}
                    @if (sortField === 'cycle') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  @if (developerMode === false) {
                    <th style="width: 100%; border-top: 0">{{ 'SCHEDULERS.CRONTAB' | translate }}</th>
                  }
                  @if (developerMode === true) {
                    <th style="min-width: 150px; border-top: 0">{{ 'SCHEDULERS.CRONTAB' | translate }}</th>
                    <th style="min-width: 140px; border-top: 0">{{ 'SCHEDULERS.TASK_TYPE' | translate }}</th>
                    <th style="width: 100%; border-top: 0">{{ 'SCHEDULERS.TASK_NAME' | translate }}</th>
                  }
                </tr>
              </thead>
              <tbody>
                @for (scheduler of schedulerinfo; track scheduler.name) {
                  @if (scheduler.group === 'plugin') {
                    <tr>
                      <td class="py-1">{{ scheduler.name }}</td>
                      <td class="py-1">{{ scheduler.next }}</td>
                      <td class="py-1">{{ scheduler.prio }}</td>
                      <td class="py-1">{{ scheduler.value }}</td>
                      <td class="py-1">{{ scheduler.cycle }}</td>
                      <td class="py-1">{{ scheduler.cron }}</td>
                      @if (developerMode === true) {
                        <td class="py-1">{{ scheduler.task_type }}</td>
                        <td class="py-1">{{ scheduler.task_name }}</td>
                      }
                    </tr>
                  }
                }
              </tbody>
            </div>
          </table>
        </p-tabpanel>

        <p-tabpanel value="3">
          <table class="table table-striped table-hover shng-list-table">
            <div class="tab-header"></div>

            <div class="tab-content">
              <thead>
                <tr class="shng_heading">
                  <th class="sortable-th" style="width: 280px; border-top: 0" (click)="sortBy('name')">
                    {{ 'SCHEDULERS.SCHEDULER' | translate }}
                    @if (sortField === 'name') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th class="sortable-th" style="min-width: 250px; border-top: 0" (click)="sortBy('next')">
                    {{ 'SCHEDULERS.NEXT EXECUTION' | translate }}
                    @if (sortField === 'next') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th class="sortable-th" style="width: 50px; border-top: 0" (click)="sortBy('prio')">
                    {{ 'SCHEDULERS.PRIO' | translate }}
                    @if (sortField === 'prio') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.VALUE' | translate }}</th>
                  <th class="sortable-th" style="min-width: 130px; border-top: 0" (click)="sortBy('cycle')">
                    {{ 'SCHEDULERS.CYCLE' | translate }}
                    @if (sortField === 'cycle') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  @if (developerMode === false) {
                    <th style="width: 100%; border-top: 0">{{ 'SCHEDULERS.CRONTAB' | translate }}</th>
                  }
                  @if (developerMode === true) {
                    <th style="min-width: 140px; border-top: 0">{{ 'SCHEDULERS.CRONTAB' | translate }}</th>
                    <th style="min-width: 140px; border-top: 0">{{ 'SCHEDULERS.TASK_TYPE' | translate }}</th>
                    <th style="width: 100%; border-top: 0">{{ 'SCHEDULERS.TASK_NAME' | translate }}</th>
                  }
                </tr>
              </thead>
              <tbody>
                @for (scheduler of schedulerinfo; track scheduler.name) {
                  @if (scheduler.group === 'other') {
                    <tr>
                      <td class="py-1">{{ scheduler.name }}</td>
                      <td class="py-1">{{ scheduler.next }}</td>
                      <td class="py-1">{{ scheduler.prio }}</td>
                      <td class="py-1">{{ scheduler.value }}</td>
                      <td class="py-1">{{ scheduler.cycle }}</td>
                      <td class="py-1">{{ scheduler.cron }}</td>
                      @if (developerMode === true) {
                        <td class="py-1">{{ scheduler.task_type }}</td>
                        <td class="py-1">{{ scheduler.task_name }}</td>
                      }
                    </tr>
                  }
                }
              </tbody>
            </div>
          </table>
        </p-tabpanel>
        <p-tabpanel value="4">
          <table class="table table-striped table-hover shng-list-table">
            <div class="tab-header"></div>

            <div class="tab-content">
              <thead>
                <tr class="shng_heading">
                  <th class="sortable-th" style="width: 280px; border-top: 0" (click)="sortBy('name')">
                    {{ 'SCHEDULERS.TRIGGER' | translate }}
                    @if (sortField === 'name') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th class="sortable-th" style="width: 250px; border-top: 0" (click)="sortBy('next')">
                    {{ 'SCHEDULERS.NEXT EXECUTION' | translate }}
                    @if (sortField === 'next') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  <th class="sortable-th" style="width: 50px; border-top: 0" (click)="sortBy('prio')">
                    {{ 'SCHEDULERS.PRIO' | translate }}
                    @if (sortField === 'prio') {
                      <span class="sort-indicator">{{ sortOrder === 1 ? '▲' : '▼' }}</span>
                    }
                  </th>
                  @if (developerMode === false) {
                    <th style="width: 100%; border-top: 0">{{ 'SCHEDULERS.VALUE' | translate }}</th>
                  }
                  @if (developerMode === true) {
                    <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.VALUE' | translate }}</th>
                    <th style="border-top: 0">{{ 'SCHEDULERS.TRIGGERED_BY' | translate }}</th>
                    <th style="border-top: 0">{{ 'SCHEDULERS.TASK_TYPE' | translate }}</th>
                    <th style="width: 100%; border-top: 0">{{ 'SCHEDULERS.TASK_NAME' | translate }}</th>
                  }
                </tr>
              </thead>
              <tbody>
                @for (scheduler of schedulerinfo; track scheduler.name) {
                  @if (scheduler.group === 'trigger') {
                    <tr>
                      <td class="py-1">{{ scheduler.name }}</td>
                      <td class="py-1">{{ scheduler.next }}</td>
                      <td class="py-1">{{ scheduler.prio }}</td>
                      <td class="py-1">{{ scheduler.value }}</td>
                      @if (developerMode === true) {
                        <td class="py-1">{{ scheduler.by }}</td>
                        <td class="py-1">{{ scheduler.task_type }}</td>
                        <td class="py-1">{{ scheduler.task_name }}</td>
                      }
                    </tr>
                  }
                }
              </tbody>
            </div>
          </table>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
