
<div style="margin-left: 10px; margin-right: 10px;">
  <tabset #staticTabs>
    <tab customClass="tab-shng" heading="{{ 'SCHEDULERS.ITEM SCHEDULERS'|translate }}">
      <table class="table table-striped table-hover">
        <thead>
        <tr class="shng_heading">
          <th style="width: 280px; border-top: 0">{{ 'SCHEDULERS.SCHEDULER'|translate }}</th>
          <th style="width: 250px; border-top: 0">{{ 'SCHEDULERS.NEXT EXECUTION'|translate }}</th>
          <th style="width: 50px; border-top: 0">{{ 'SCHEDULERS.PRIO'|translate }}</th>
          <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.VALUE'|translate }}</th>
          <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.CYCLE'|translate }}</th>
          <th style="border-top: 0">{{ 'SCHEDULERS.CRONTAB'|translate }}</th>
        </tr>
        </thead>
        <tbody>
        <ng-container  *ngFor="let scheduler of schedulerinfo">
          <tr *ngIf="scheduler.group === 'item'">
            <td class="py-1">{{ scheduler.name }}</td>
            <td class="py-1">{{ scheduler.next }}</td>
            <td class="py-1">{{ scheduler.prio }}</td>
            <td class="py-1">{{ scheduler.value }}</td>
            <td class="py-1">{{ scheduler.cycle }}</td>
            <td class="py-1">{{ scheduler.cron }}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </tab>

    <tab customClass="tab-shng" heading="{{ 'SCHEDULERS.LOGIC SCHEDULERS'|translate }}">
      <table class="table table-striped table-hover">
        <thead>
        <tr class="shng_heading">
          <th style="width: 280px; border-top: 0">{{ 'SCHEDULERS.SCHEDULER'|translate }}</th>
          <th style="width: 250px; border-top: 0">{{ 'SCHEDULERS.NEXT EXECUTION'|translate }}</th>
          <th style="width: 50px; border-top: 0">{{ 'SCHEDULERS.PRIO'|translate }}</th>
          <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.VALUE'|translate }}</th>
          <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.CYCLE'|translate }}</th>
          <th style="border-top: 0">{{ 'SCHEDULERS.CRONTAB'|translate }}</th>
        </tr>
        </thead>
        <tbody>
        <ng-container  *ngFor="let scheduler of schedulerinfo">
          <tr *ngIf="scheduler.group === 'logic'">
            <td class="py-1">{{ scheduler.name }}</td>
            <td class="py-1">{{ scheduler.next }}</td>
            <td class="py-1">{{ scheduler.prio }}</td>
            <td class="py-1">{{ scheduler.value }}</td>
            <td class="py-1">{{ scheduler.cycle }}</td>
            <td class="py-1">{{ scheduler.cron }}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </tab>

    <tab customClass="tab-shng" heading="{{ 'SCHEDULERS.PLUGIN SCHEDULERS'|translate }}">
      <table class="table table-striped table-hover">
        <thead>
        <tr class="shng_heading">
          <th style="width: 280px; border-top: 0">{{ 'SCHEDULERS.SCHEDULER'|translate }}</th>
          <th style="width: 250px; border-top: 0">{{ 'SCHEDULERS.NEXT EXECUTION'|translate }}</th>
          <th style="width: 50px; border-top: 0">{{ 'SCHEDULERS.PRIO'|translate }}</th>
          <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.VALUE'|translate }}</th>
          <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.CYCLE'|translate }}</th>
          <th style="border-top: 0">{{ 'SCHEDULERS.CRONTAB'|translate }}</th>
          <ng-container *ngIf="developerMode === true">
            <th style="border-top: 0">{{ 'SCHEDULERS.TASK_TYPE'|translate }}</th>
            <th style="border-top: 0">{{ 'SCHEDULERS.TASK_NAME'|translate }}</th>
          </ng-container>
        </tr>
        </thead>
        <tbody>
        <ng-container  *ngFor="let scheduler of schedulerinfo">
          <tr *ngIf="scheduler.group === 'plugin'">
            <td class="py-1">{{ scheduler.name }}</td>
            <td class="py-1">{{ scheduler.next }}</td>
            <td class="py-1">{{ scheduler.prio }}</td>
            <td class="py-1">{{ scheduler.value }}</td>
            <td class="py-1">{{ scheduler.cycle }}</td>
            <td class="py-1">{{ scheduler.cron }}</td>
            <ng-container *ngIf="developerMode === true">
              <td class="py-1">{{ scheduler.task_type }}</td>
              <td class="py-1">{{ scheduler.task_name }}</td>
            </ng-container>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </tab>

    <tab customClass="tab-shng" heading="{{ 'SCHEDULERS.OTHER SCHEDULERS'|translate }}">
      <table class="table table-striped table-hover">
        <thead>
        <tr class="shng_heading">
          <th style="width: 280px; border-top: 0">{{ 'SCHEDULERS.SCHEDULER'|translate }}</th>
          <th style="width: 250px; border-top: 0">{{ 'SCHEDULERS.NEXT EXECUTION'|translate }}</th>
          <th style="width: 50px; border-top: 0">{{ 'SCHEDULERS.PRIO'|translate }}</th>
          <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.VALUE'|translate }}</th>
          <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.CYCLE'|translate }}</th>
          <th style="border-top: 0">{{ 'SCHEDULERS.CRONTAB'|translate }}</th>
          <ng-container *ngIf="developerMode === true">
            <th style="border-top: 0">{{ 'SCHEDULERS.TASK_TYPE'|translate }}</th>
            <th style="border-top: 0">{{ 'SCHEDULERS.TASK_NAME'|translate }}</th>
          </ng-container>
        </tr>
        </thead>
        <tbody>
        <ng-container  *ngFor="let scheduler of schedulerinfo">
          <tr *ngIf="scheduler.group === 'other'">
            <td class="py-1">{{ scheduler.name }}</td>
            <td class="py-1">{{ scheduler.next }}</td>
            <td class="py-1">{{ scheduler.prio }}</td>
            <td class="py-1">{{ scheduler.value }}</td>
            <td class="py-1">{{ scheduler.cycle }}</td>
            <td class="py-1">{{ scheduler.cron }}</td>
            <ng-container *ngIf="developerMode === true">
              <td class="py-1">{{ scheduler.task_type }}</td>
              <td class="py-1">{{ scheduler.task_name }}</td>
            </ng-container>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </tab>

    <tab customClass="tab-shng" heading="{{ 'SCHEDULERS.TRIGGERS'|translate }}">
      <table class="table table-striped table-hover">
        <thead>
        <tr class="shng_heading">
          <th style="width: 280px; border-top: 0">{{ 'SCHEDULERS.TRIGGER'|translate }}</th>
          <th style="width: 250px; border-top: 0">{{ 'SCHEDULERS.NEXT EXECUTION'|translate }}</th>
          <th style="width: 50px; border-top: 0">{{ 'SCHEDULERS.PRIO'|translate }}</th>
          <th style="width: 130px; border-top: 0">{{ 'SCHEDULERS.VALUE'|translate }}</th>
          <ng-container *ngIf="developerMode === true">
            <th style="border-top: 0">{{ 'SCHEDULERS.TRIGGERED_BY'|translate }}</th>
            <th style="border-top: 0">{{ 'SCHEDULERS.TASK_TYPE'|translate }}</th>
            <th style="border-top: 0">{{ 'SCHEDULERS.TASK_NAME'|translate }}</th>
          </ng-container>
        </tr>
        </thead>
        <tbody>
        <ng-container  *ngFor="let scheduler of schedulerinfo">
          <tr *ngIf="scheduler.group === 'trigger'">
            <td class="py-1">{{ scheduler.name }}</td>
            <td class="py-1">{{ scheduler.next }}</td>
            <td class="py-1">{{ scheduler.prio }}</td>
            <td class="py-1">{{ scheduler.value }}</td>
            <ng-container *ngIf="developerMode === true">
              <td class="py-1">{{ scheduler.by }}</td>
              <td class="py-1">{{ scheduler.task_type }}</td>
              <td class="py-1">{{ scheduler.task_name }}</td>
            </ng-container>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </tab>

  </tabset>
</div>
