
<div style="margin-left: 10px; margin-right: 10px;">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr class="shng_heading">
        <th>{{ 'THREADS.THREAD'|translate }} ({{ 'THREADS.TOTAL'|translate }}: {{ threads_count }})</th>
        <th>{{ 'THREADS.THREAD-ID'|translate }}</th>
        <th>{{ 'THREADS.ACTIVE'|translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let thread of threadsList">
        <tr>
          <td class="py-1">{{ thread.name }}</td>
          <td class="py-1">{{ thread.id }}</td>
          <td class="py-1">{{ thread.alive|translate }}</td>
          <td class="py-1" width="200px"></td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
