.body {
  margin: 0;
}
.shngbody {
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  margin: 0;
  padding: 0;

  padding-left: 10px; /* padding around tab border */
  padding-right: 10px;

  display: grid;
  grid-template-rows: auto 65px;
  grid-template-columns: 1fr;

  grid-template-areas:
    'body-content'
    'body-footer';

  grid-gap: 0;
  grid-auto-flow: row;
}

.body-content {
  grid-area: body-content;
  width: 100%;
  overflow: hidden;
}

.body-footer {
  grid-area: body-footer;
  width: 100%;
  padding-bottom: 10px;
}

.tab-header {
  grid-area: tab-header;
  width: 100%;
}

.tab-content {
  grid-area: tab-content;
  width: 100%;
  height: calc(100vh - var(--navbar-height) - 65px - var(--tab-height));
  border: 1px solid #dee2e6;
  border-top: 0;
  overflow: auto;
}

.tab-footer {
  grid-area: tab-footer;
  width: 100%;
}
