<!--
<div style="margin-left: 10px; margin-right: 10px;">
-->
<div class="shngbody">
  <div class="body-content">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">{{ 'SYSTEM.COMMON_SETTINGS' | translate }}</p-tab>
        <p-tab value="1">{{ 'SYSTEM.HTTP_SETTINGS' | translate }}</p-tab>
        <p-tab value="2">{{ 'SYSTEM.WEBSOCKET_SETTINGS' | translate }}</p-tab>
        <p-tab value="3">{{ 'SYSTEM.ADMIN_SETTINGS' | translate }}</p-tab>
        <p-tab value="4">{{ 'SYSTEM.MQTT_SETTINGS' | translate }}</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <div class="tab-content">
            <p-table [columns]="common_parameter_cols" [value]="common_parameters" selectionMode="single">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  @for (col of columns; track col.field) {
                    <th [pSortableColumn]="col.field" [ngStyle]="{ width: col.width }">
                      {{ col.header | translate }}
                      @if (col.field !== '') {
                        <p-sortIcon
                          [field]="col.field"
                          ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"
                        ></p-sortIcon>
                      }
                    </th>
                  }
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  @for (col of columns; track col.field) {
                    <td>
                      @if (rowData.name === 'config_etc' && col.field === 'value') {
                        <!-- config_etc value cell: "true" text when active, button otherwise -->
                        @if (configEtcActive) {
                          <span>true</span>
                        } @else {
                          <button
                            pButton
                            type="button"
                            class="btn-shng btn btn-sm"
                            style="width: 100%"
                            [disabled]="configEtcChecking"
                            (click)="checkConfigEtc(true)"
                            icon="fas fa-search"
                            label="{{ 'SYSTEM.CONFIG_ETC_CHECK' | translate }}"
                          ></button>
                        }
                      } @else if (rowData.name === 'config_etc' && col.field === 'desc') {
                        <!-- config_etc description cell: module.yaml text + status on second line -->
                        <div [innerHTML]="rowData[col.field]"></div>
                        <div style="margin-top: 6px">
                          @if (configEtcChecking) {
                            <i class="pi pi-spin pi-spinner"></i>
                          } @else if (configEtcActive) {
                            <p-message severity="success" [text]="'SYSTEM.CONFIG_ETC_ACTIVE' | translate"></p-message>
                          } @else if (configEtcCheckResult?.['safe'] === true) {
                            <p-message
                              severity="info"
                              [text]="'SYSTEM.CONFIG_ETC_INACTIVE_SAFE' | translate"
                            ></p-message>
                          } @else if (configEtcCheckResult !== null) {
                            <p-message
                              severity="warn"
                              [text]="'SYSTEM.CONFIG_ETC_INACTIVE_UNSAFE' | translate"
                            ></p-message>
                          }
                        </div>
                      } @else if (dialog_readonly === false && col.field === 'value') {
                        <app-dynamic-field [row]="rowData" [col]="col" (changed)="check_values()"></app-dynamic-field>
                      } @else {
                        <div [innerHTML]="rowData[col.field]"></div>
                      }
                    </td>
                  }
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabpanel>

        <p-tabpanel value="1">
          <div class="tab-content">
            <p-table [columns]="http_parameter_cols" [value]="http_parameters" selectionMode="single">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  @for (col of columns; track col.field) {
                    <th [pSortableColumn]="col.field" [ngStyle]="{ width: col.width }">
                      {{ col.header | translate }}
                      @if (col.field !== '') {
                        <p-sortIcon
                          [field]="col.field"
                          ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"
                        ></p-sortIcon>
                      }
                    </th>
                  }
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  @for (col of columns; track col.field) {
                    <td>
                      @if (dialog_readonly === false && col.field === 'value') {
                        <app-dynamic-field [row]="rowData" [col]="col" (changed)="check_values()"></app-dynamic-field>
                        @if (rowData.type === 'password' && rowData[col.field] === null) {
                          <button
                            pButton
                            type="button"
                            class="float-sm-left btn-shng btn btn-sm ui-button-secondary"
                            (click)="change_password_dialog($event, rowData, col.field)"
                            style="margin-left: 5px"
                            label="{{ 'SYSTEM.SET_PASSWORD' | translate }}"
                          ></button>
                        }
                        @if (rowData.type === 'password' && rowData[col.field] !== null) {
                          <button
                            pButton
                            type="button"
                            class="float-sm-left btn-shng btn btn-sm ui-button-secondary"
                            (click)="change_password_dialog($event, rowData, col.field)"
                            style="margin-left: 5px"
                            label="{{ 'SYSTEM.CHANGE_PASSWORD' | translate }}"
                          ></button>
                        }
                      }

                      @if (dialog_readonly === true || col.field !== 'value') {
                        <div [innerHTML]="rowData[col.field]"></div>
                      }
                    </td>
                  }
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabpanel>

        <p-tabpanel value="2">
          <div class="tab-content">
            <p-table [columns]="websocket_parameter_cols" [value]="websocket_parameters" selectionMode="single">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  @for (col of columns; track col.field) {
                    <th [pSortableColumn]="col.field" [ngStyle]="{ width: col.width }">
                      {{ col.header | translate }}
                      @if (col.field !== '') {
                        <p-sortIcon
                          [field]="col.field"
                          ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"
                        ></p-sortIcon>
                      }
                    </th>
                  }
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  @for (col of columns; track col.field) {
                    <td>
                      @if (dialog_readonly === false && col.field === 'value') {
                        <app-dynamic-field
                          [row]="rowData"
                          [col]="col"
                          (changed)="check_values('str')"
                        ></app-dynamic-field>
                        @if (rowData.type === 'password' && rowData[col.field] === null) {
                          <button
                            pButton
                            type="button"
                            class="float-sm-left btn-shng btn btn-sm ui-button-secondary"
                            (click)="change_password_dialog($event, rowData, col.field)"
                            style="margin-left: 5px"
                            label="{{ 'SYSTEM.SET_PASSWORD' | translate }}"
                          ></button>
                        }
                        @if (rowData.type === 'password' && rowData[col.field] !== null) {
                          <button
                            pButton
                            type="button"
                            class="float-sm-left btn-shng btn btn-sm ui-button-secondary"
                            (click)="change_password_dialog($event, rowData, col.field)"
                            style="margin-left: 5px"
                            label="{{ 'SYSTEM.CHANGE_PASSWORD' | translate }}"
                          ></button>
                        }
                      }

                      @if (dialog_readonly === true || col.field !== 'value') {
                        <div [innerHTML]="rowData[col.field]"></div>
                      }
                    </td>
                  }
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabpanel>

        <p-tabpanel value="3">
          <div class="tab-content">
            <p-table [columns]="admin_parameter_cols" [value]="admin_parameters" selectionMode="single">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  @for (col of columns; track col.field) {
                    <th [pSortableColumn]="col.field" [ngStyle]="{ width: col.width }">
                      {{ col.header | translate }}
                      @if (col.field !== '') {
                        <p-sortIcon
                          [field]="col.field"
                          ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"
                        ></p-sortIcon>
                      }
                    </th>
                  }
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  @for (col of columns; track col.field) {
                    <td>
                      @if (dialog_readonly === false && col.field === 'value') {
                        <app-dynamic-field [row]="rowData" [col]="col" (changed)="check_values()"></app-dynamic-field>
                      }

                      @if (dialog_readonly === true || col.field !== 'value') {
                        <div [innerHTML]="rowData[col.field]"></div>
                      }
                    </td>
                  }
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabpanel>

        <p-tabpanel value="4">
          <div class="tab-content">
            <p-table [columns]="mqtt_parameter_cols" [value]="mqtt_parameters" selectionMode="single">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  @for (col of columns; track col.field) {
                    <th [pSortableColumn]="col.field" [ngStyle]="{ width: col.width }">
                      {{ col.header | translate }}
                      @if (col.field !== '') {
                        <p-sortIcon
                          [field]="col.field"
                          ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"
                        ></p-sortIcon>
                      }
                    </th>
                  }
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  @for (col of columns; track col.field) {
                    <td>
                      @if (dialog_readonly === false && col.field === 'value') {
                        <app-dynamic-field [row]="rowData" [col]="col" (changed)="check_values()"></app-dynamic-field>
                      }

                      @if (dialog_readonly === true || col.field !== 'value') {
                        <div [innerHTML]="rowData[col.field]"></div>
                      }
                    </td>
                  }
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
  <div class="body-footer">
    @if (dialog_readonly === false && restart_core_button) {
      <a class="shng-text-sm">{{ 'RESTART FOR CHANGES' | translate }}</a>
    }
    @if (dialog_readonly === false && !restart_core_button) {
      <a class="shng-text-sm">&nbsp;</a>
    }
    <br />
    <button
      pButton
      type="button"
      class="float-sm-left btn-shng btn btn-sm ui-button-success"
      style="float: left"
      [disabled]="!restart_core_button"
      (click)="restartShng()"
      icon="fa fa-circle-notch"
      label="{{ 'BUTTON.RESTART_SHNG' | translate }}"
    ></button>
    <button
      pButton
      type="button"
      tabindex="1"
      autofocus="autofocus"
      class="btn btn-primary btn-sm btn-shng"
      style="float: right"
      [disabled]="!this.data_changed"
      (click)="saveSettings()"
      icon="fas fa-check"
      label="{{ 'BUTTON.SAVE_SETTINGS' | translate }}"
    ></button>
    <!--
      <button pButton type="button" tabindex="1" autofocus="autofocus" class="btn btn-primary btn-sm btn-shng" style="float: right;" [disabled]="!this.data_changed" (click)="saveSettings()"><i class="fas fa-check"></i> {{'BUTTON.SAVE_SETTINGS'|translate}}</button>
-->
  </div>
</div>

<!--
  -- Validation dialog, showing information about the error, if from validation fails
  -->

<p-dialog header="" [(visible)]="validation_dialog_display" [modal]="true" blockScroll="true">
  <ng-template pTemplate="header">
    {{ 'PLUGIN.CONFIGURATION_ERRORS' | translate }}
  </ng-template>

  @for (l of this.validation_dialog_text; track $index) {
    <li>
      {{ l }}
    </li>
  }

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      icon="pi pi-times"
      (click)="validation_dialog_display = false"
      label="{{ 'BUTTON.CLOSE' | translate }}"
      class="ui-button-success"
    ></button>
  </ng-template>
</p-dialog>

<!--
  -- config_etc migration check dialog
  -->

<p-dialog
  header=""
  [(visible)]="configEtcCheckDialogVisible"
  [modal]="true"
  blockScroll="true"
  [style]="{ width: '600px' }"
>
  <ng-template pTemplate="header">
    {{ 'SYSTEM.CONFIG_ETC_CHECK_TITLE' | translate }}
  </ng-template>

  @if (configEtcCheckResult) {
    @if (configEtcCheckResult['safe']) {
      <p-message severity="success" [text]="'SYSTEM.CONFIG_ETC_SAFE' | translate"></p-message>
    } @else {
      <p-message severity="error" [text]="'SYSTEM.CONFIG_ETC_CONFLICTS' | translate"></p-message>
      @for (entry of configEtcConflictDirs; track entry.dir) {
        <div style="margin-top: 6px">
          <b>{{ entry.dir }}/</b>
          @for (f of entry.files; track f) {
            <div style="margin-left: 16px; font-family: monospace">{{ f }}</div>
          }
        </div>
      }
    }

    @if (configEtcMigrateDirs.length > 0) {
      <div style="margin-top: 12px">
        <b>{{ 'SYSTEM.CONFIG_ETC_TO_MIGRATE' | translate }}</b>
        @for (entry of configEtcMigrateDirs; track entry.dir) {
          <div style="margin-top: 4px">
            <span>{{ entry.dir }}/</span>
            @for (f of entry.files; track f) {
              <div style="margin-left: 16px; font-family: monospace">{{ f }}</div>
            }
          </div>
        }
      </div>
    }

    @if (configEtcCheckResult['already_done']?.length > 0) {
      <div style="margin-top: 12px">
        <b>{{ 'SYSTEM.CONFIG_ETC_ALREADY_DONE' | translate }}</b
        >: {{ configEtcCheckResult['already_done'].join(', ') }}
      </div>
    }
  }

  <ng-template pTemplate="footer">
    @if (configEtcCheckResult?.['safe'] && !configEtcActive) {
      <button
        pButton
        type="button"
        icon="pi pi-check"
        [disabled]="configEtcEnabling"
        (click)="enableConfigEtc()"
        label="{{ 'SYSTEM.CONFIG_ETC_ENABLE' | translate }}"
        class="ui-button-success"
      ></button>
    }
    <button
      pButton
      type="button"
      icon="pi pi-times"
      (click)="configEtcCheckDialogVisible = false"
      label="{{ 'BUTTON.CLOSE' | translate }}"
      class="ui-button-secondary"
    ></button>
  </ng-template>
</p-dialog>

<!--
  -- Password change dialog, showing information about the error, if from validation fails
  -->

<p-dialog header="" [(visible)]="pwd_change_dialog_display" [modal]="true" blockScroll="true">
  <ng-template pTemplate="header">
    @if (pwd_hash_old === null) {
      {{ 'SYSTEM.SET_PASSWORD' | translate }}
    }
    @if (pwd_hash_old !== null) {
      {{ 'SYSTEM.CHANGE_PASSWORD' | translate }}
    }
  </ng-template>

  @if (pwd_old_is_empty) {
    <p-message severity="warn" [text]="'SYSTEM.OLDPWD_EMPTY' | translate"></p-message>
  }
  @if (pwd_old_is_wrong) {
    <p-message severity="error" [text]="'SYSTEM.OLDPWD_WRONG' | translate"></p-message>
  }
  @if (pwd_new_not_identical) {
    <p-message severity="error" [text]="'SYSTEM.NEWPWDS_DIFFER' | translate"></p-message>
  }

  <table>
    @if (pwd_hash_old !== null) {
      <tr>
        <td style="padding-right: 10px">{{ 'SYSTEM.OLD_PASSWORD' | translate }}</td>
        <td>
          <input
            [(ngModel)]="pwd_old"
            tabindex="1"
            autofocus
            style="width: 250px"
            [type]="pwd_show ? 'text' : 'password'"
            pInputText
            name="pwd_old"
          />
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    }
    <tr>
      <td style="padding-right: 10px">{{ 'SYSTEM.NEW_PASSWORD' | translate }}</td>
      <td>
        <input
          [(ngModel)]="pwd_new1"
          tabindex="2"
          style="width: 250px"
          [type]="pwd_show ? 'text' : 'password'"
          pInputText
          name="pwd_new1"
        />
      </td>
    </tr>
    <tr>
      <td style="padding-right: 10px">{{ 'SYSTEM.NEW_PASSWORD_REPEAT' | translate }}</td>
      <td>
        <input
          [(ngModel)]="pwd_new2"
          tabindex="3"
          style="width: 250px"
          [type]="pwd_show ? 'text' : 'password'"
          pInputText
          name="pwd_new2"
        />
      </td>
    </tr>
    <tr>
      <td style="padding-right: 10px"></td>
      <td>
        <input [(ngModel)]="pwd_show" type="checkbox" class="shng-text-sm" id="showtext" />{{
          'SYSTEM.SHOW_PASSWORDS' | translate
        }}
      </td>
    </tr>
  </table>

  <ng-template pTemplate="footer">
    <p style="text-align: left" class="shng-text-sm">{{ 'SYSTEM.REMEMBER TO SAVE CHANGES' | translate }}</p>
    <button
      pButton
      type="button"
      icon="pi pi-times"
      (click)="pwd_change_dialog_display = false"
      label="{{ 'BUTTON.ABORT' | translate }}"
      class="ui-button-secondary"
    ></button>
    <button
      pButton
      type="button"
      tabindex="4"
      icon="pi pi-check"
      (click)="change_password($event)"
      label="{{ 'BUTTON.CHANGE' | translate }}"
      class="ui-button-success"
    ></button>
  </ng-template>
</p-dialog>
