
.shngbody {
  /*
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    //overflow: hidden;
    //height: calc(100vh - 55px);
  */

  margin-left: 10px;
  margin-right: 10px;
}

.button-row {
  font-weight: normal;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 20px;
  float: right;
  width: min(80%, 100% - 210px);
  display: inline-block;
}

.items-filelist {
  width: max(20% - 10px, 200px);
  min-width: 16px;
  margin-top: 60px;
  float: left;
  border: 1px;
}

.items-fileeditor {
  width: min(80%, 100% - 210px);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  float: right;
}

.tab-shng > a{
  border-bottom: none !important;
  outline: 0 !important;
  color:rgb(160, 160, 160);
}


/*
.CodeMirror {
  height: 100%;
}
  width:48vw;
  height:70vh;
/*
  height: calc(100vh - 220px);
  height:70vh;
}
*/

